/*----------------------------------------------------------------------------//
//    $color definitions
//----------------------------------------------------------------------------*/

:root
{
    /* primary colors */
    --PC-WHITE:     #ffffff;
    --PC-BLUE:      #19a2e2;
    --PC-GREEN:     #1bbab0;
    --PC-RED:       #ff5460;
    --PC-ORANGE:    #ff7f5a;
    --PC-YELLOW:    #ffb050;
    --PC-GREY:      var( --GS-5 );
    --PC-DARK-GREY: #334c68;

    /* greyscale colors */
    --GS-1:     var( --PC-DARK-GREY );
    --GS-2:     color( var( --PC-DARK-GREY ) tint( 25% ) );
    --GS-3:     color( var( --PC-DARK-GREY ) tint( 15% ) );
    --GS-4:     color( var( --PC-DARK-GREY ) tint( 5% ) );
    --GS-5:     color( var( --PC-DARK-GREY ) tint( 0% ) );
    --GS-6:     color( var( --PC-DARK-GREY ) tint( 10% ) );
    --GS-7:     color( var( --PC-DARK-GREY ) tint( 25% ) );
    --GS-8:     color( var( --PC-DARK-GREY ) tint( 40% ) );
    --GS-9:     color( var( --PC-DARK-GREY ) tint( 70% ) );
    --GS-10:    color( var( --PC-DARK-GREY ) tint( 90% ) );
}
