/*----------------------------------------------------------------------------//
//    $color definitions
//----------------------------------------------------------------------------*/

:root
{
    /* primary colors */
    --PC-WHITE:     #ffffff;
    --PC-BLUE:      #289bc8;
    --PC-GREY:      #96a3aa;
    --PC-DARK-GREY: #283237;

    /* accent colors */
    --AC-1:     #e64b6e;
    --AC-2:     #f55f69;
    --AC-3:     #ff7364;
    --AC-4:     #ff9164;
    --AC-5:     #ffb464;
    --AC-6:     #ffc869;
    --AC-7:     #ffe16e;
    --AC-8:     #d7d778;
    --AC-9:     #afcd7d;
    --AC-10:    #64be8c;
    --AC-11:    #41af96;
    --AC-12:    #23a59b;
    --AC-13:    #28a0b4;
    --AC-14:    #2887aa;
    --AC-15:    #0f5f87;
    --AC-16:    #1e465f;

    /* greyscale colors */
    --GS-1:     var( --PC-DARK-GREY );
    --GS-2:     #414B55;
    --GS-3:     #5f6973;
    --GS-4:     #788791;
    --GS-5:     #96A3AA;
    --GS-6:     #C3C8CD;
    --GS-7:     #D2D7D9;
    --GS-8:     #DEDEDE;
    --GS-9:     #E6E6E6;
    --GS-10:    #F0F0F0;
    --GS-11:    #F5F5F5;
    --GS-12:    #FAFAFA;
}
