:root
{
    /*  SPACING */
    --spacing-1:    0.8rem;
    --spacing-2:    1.6rem;
    --spacing-3:    2.4rem;
    --spacing-4:    3.2rem;
    --spacing-5:    4rem;
    --spacing-6:    4.8rem;
    --spacing-7:    5.6rem;
    --spacing-8:    6.4rem;
}
