@import "../proto/definitions/variables.css";

.default
{

}

.header /* rules from base.css */
{
    display:        block;
    position:       relative;

    box-sizing:     border-box;
    width:          100%;

    margin-bottom:  var( --spacing-6 );

    font-size:      14px;
    line-height:    18px;
}
