@import "../proto/definitions/variables.css";

.default
{
    padding:    0 3rem;
}

.header /* rules from base.css */
{
    display:        block;
    position:       relative;

    box-sizing:     border-box;
    width:          100%;

    font-size:      1.4rem;
    line-height:    1.8rem;
}

.header
{
    margin-bottom:  3rem;

    &:last-child
    {
        margin-bottom:  2rem;
    }
}

.controls
{
    min-height:     5.2rem;
}

.title
{
    margin-bottom:  2rem;
}

.subtitle
{
    @extend %Nessie-Semibold;

    font-size:      var( --typo-4 );
    line-height:    var( --line-height-m );
    letter-spacing: 0;

    min-height:     var( --line-height-m );
}
