@import "../proto/base.css";
@import "../proto/definitions/_colors.css";
@import "../proto/definitions/_fonts.css";

.default
{
	position: 		relative;
	top: 			0.6rem;

	margin-top: 	-0.9rem;
	margin-bottom:	7rem;

    @extend %Nessie-Bold;

    font-size:      2.4rem;
    line-height:    2.6rem;
    min-height:     2.6rem;
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
	color:	var( --AC-12 );
}

.role__critical
{
	color:	var( --AC-2 );
}
