@import "../proto/base.css";

.default
{
	position: 		relative;
	top: 			0.6rem;

	margin-top: 	-0.9rem;

    @extend %Nessie-Bold;

    font-size:      2.4rem;
    line-height:    2.6rem;
    min-height:     2.6rem;
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
	color:	var( --PC-GREEN );
}

.role__critical
{
	color:	var( --PC-RED );
}

.spacing__S
{
    margin-bottom: var( --spacing-1 );
}

.spacing__M
{
    margin-bottom: var( --spacing-3 );
}

.spacing__L
{
    margin-bottom: var( --spacing-8 );
}
