@import "../proto/base.css";
@import "../proto/global.css";

$shark: 768px;

.default
{
    display:        flex;
    flex-direction: column;
    align-items:    stretch;
    flex-wrap:      nowrap;

    max-width:      none;

    margin-bottom:  0;

    /*& > *
    {
        flex:       0 0 100%;
        box-sizing: border-box;
    }*/
}


.hasMinHeight
{
    min-height: 7.1rem; /* label + input */
}

/*
@media( min-width: $shark )
{ */
    .default
    {
        flex-direction: row;

        /*& > *
        {
            flex:   1 0 0%;
        }*/
    }

    .alignX__left,
    .alignX__center,
    .alignX__right
    {
        & > *
        {
            flex:           0 0 auto;
        }
    }

    .alignX__left
    {
        justify-content:    flex-start;
    }

    .alignX__center
    {
        justify-content:    center;
    }

    .alignX__right
    {
        justify-content:    flex-end;
    }

    .alignY__top
    {
        align-items:    flex-start;
    }

    .alignY__middle
    {
        align-items:    center;
    }

    .alignY__bottom
    {
        align-items:    flex-end;
    }

    .wrap
    {
        flex-wrap:  wrap;
    }
/* } */

.spacing__XS
{
    & > *
    {
        margin-bottom:  var( --spacing-xs );
    }

    &:last-child
    {
        margin-bottom:  -var( --spacing-xs );
    }
}

.spacing__S
{
    & > *
    {
        margin-bottom:  var( --spacing-s );
    }

    &:last-child
    {
        margin-bottom:  -var( --spacing-s );
    }
}

.spacing__XL
{
    & > *
    {
        margin-bottom:  var( --spacing-xl );
    }

    &:last-child
    {
        margin-bottom:  -var( --spacing-xl );
    }
}

.spacing__XXL
{
    & > *
    {
        margin-bottom:  var( --spacing-xxl );
    }

    &:last-child
    {
        margin-bottom:  -var( --spacing-xxl );
    }
}

.gutters__S
{
    width:          calc( 100% + var( --gutters-s ) );
    margin-left:    calc( -var( --gutters-s ) / 2 );
    margin-right:   calc( -var( --gutters-s ) / 2 );

    & > *
    {
        padding-left:   calc( var( --gutters-s ) / 2 );
        padding-right:  calc( var( --gutters-s ) / 2 );
    }
}

.gutters__M
{
    width:          calc( 100% + var( --gutters-m ) );
    margin-left:    calc( -var( --gutters-m ) / 2 );
    margin-right:   calc( -var( --gutters-m ) / 2 );

    & > *
    {
        padding-left:   calc( var( --gutters-m ) / 2 );
        padding-right:  calc( var( --gutters-m ) / 2 );
    }
}

.gutters__L
{
    width:          calc( 100% + var( --gutters-l ) );
    margin-left:    calc( -var( --gutters-l ) / 2 );
    margin-right:   calc( -var( --gutters-l ) / 2 );

    & > *
    {
        padding-left:   calc( var( --gutters-l ) / 2 );
        padding-right:  calc( var( --gutters-l ) / 2 );
    }
}
