@import "../proto/definitions/variables.css";

.default /* extends NavList css */
{
    width:                  auto;
    max-width:              none;
    min-width:              150px;
    max-height:             50vh;

    border:                 1px solid color( var( --PC-GREY ) a(12%) );
    background:             var( --PC-WHITE );
    box-shadow:             var( --boxShadow );

    padding:                var( --spacing-2 );

    overflow-y:             auto;
    overscroll-behavior-y:  contain;

    z-index:                999;
}
