@import "../proto/definitions/variables.css";

.default /* extends NavList css */
{
    width:                  auto;
    max-width:              none;
    max-height:             50vh;

    background:             var( --PC-BLUE );
    box-shadow:             0 0.2rem 1rem 0 var( --PC-GREY--L75 );

    padding-top:            var( --spacing-1 );
    padding-right:          var( --spacing-2 );
    padding-bottom:         var( --spacing-1 );
    padding-left:           var( --spacing-2 );

    overflow-y:             auto;
    overscroll-behavior-y:  contain;

    z-index:                999;
}
