@import "../proto/base.css";

.default
{
    display:        block;
    list-style:     none;
    width:          auto;
    margin-bottom:  0;
    background:     var( --PC-WHITE );

    &:hover,
    &.current
    {
        background-color:  var(--PC-BLUE--L90 );
    }
}

.disabled
{
    pointer-events: none;

    & > .link
    {
        color:  color( var( --GS-2 ) a( 50% ) ) !important;
        cursor: default !important;

        & > .icon
        {
            opacity:    0.5;
        }
    }

}

.role__default,
.role__primary
{
    & > .link
    {
        padding:    var( --spacing-1 );
    }

    & > .link[href]:hover,
    & > .link[href]:focus,
    & > .link[href]:active,
    &.fakeHovered > .link,
    &.open > .link,
    &.current > .link
    {
        color:  var( --PC-BLUE );
    }

    &.fakeHovered,
    &.open
    {
        background-color:  var(--PC-BLUE--L90 );
    }
}

.role__primary
{
    & > .link
    {
        text-transform: uppercase;
    }
}

.role__sub
{
    border-radius:         6px;

    & > .link
    {
        padding-top:       0;
        padding-right:     var( --spacing-2 );
        padding-bottom:    0;
        padding-left:      var( --spacing-2 );

        background-color:  var( --PC-BLUE );

        border-radius:     2px;

        line-height:       var( --line-height-xxl );
        color:             var( --PC-WHITE );

        &:visited
        {
            color:         var( --PC-WHITE );
        }
    }

    & > .link[href]:hover,
    & > .link[href]:focus,
    & > .link[href]:active,
    &.fakeHovered > .link,
    &.open > .link,
    &.current > .link
    {
        background-color:   var( --PC-BLUE--L25 );
    }
}

.open
{
    .dropdown
    {
        left:   auto;
    }

    &.dropdownAlign__right .dropdown
    {
        right:  0;
    }
}

.link
{
    display:            block;
    white-space:        nowrap;
    text-decoration:    none !important;
    cursor:             text;

    @extend %Nessie-SemiBold;

    font-size:      var( --typo-3 );
    line-height:    var( --line-height-s );
    color:          var( --PC-GREY--L25 );

    &[href]
    {
        cursor:     pointer;
    }

    &:focus
    {
        outline:    none;
    }

    &:visited
    {
        color:      var( --PC-GREY--L25 );
    }
}

.dropdown
{
    position:   absolute;
    left:       -99999px;
    margin-top: -2px;
}

.hasIcon
{
    & > .link
    {
        padding-top:    13px;
        padding-right:  var( --spacing-3 );
        padding-bottom: 15px;
        padding-left:   var( --spacing-3 );
    }

    & > .link > .icon
    {
        margin:        auto;
        margin-bottom: 4px;
    }

    & > .link[href]:hover > .icon,
    & > .link[href]:active > .icon,
    & > .link[href]:focus > .icon,
    &.open > .link > .icon,
    &.fakeHovered > .link > .icon,
    &.current > .link > .icon
    {
        fill: var( --PC-BLUE );
    }

    & > .link > .icon,
    &.disabled > .link > .icon
    {
        fill: var( --PC-GREY--L25 );
    }
}
