@import "../proto/base.css";

.default
{
	position: 		relative;
    min-height:     var( --line-height-l );
    margin-bottom:  var( --spacing-2 );

    @extend %Nessie-Bold;
    font-size:      var( --typo-4 );
    line-height:    var( --line-height-l );
    letter-spacing: 0.02rem;
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
	color:	var( --PC-GREEN );
}

.role__critical
{
	color:	var( --PC-RED );
}
