@import "../proto/base.css";

.default
{
	position: 		relative;

    @extend %Nessie-Bold;

    font-size:      var( --typo-4 );
    line-height:    var( --line-height-l );
    letter-spacing: 0.02rem;
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
	color:	var( --PC-GREEN );
}

.role__critical
{
	color:	var( --PC-RED );
}

.spacing__S
{
    margin-bottom: var( --spacing-2 );
}

.spacing__M
{
    margin-bottom: var( --spacing-5 );
}

.spacing__L
{
    margin-bottom: var( --spacing-7 );
}
