@import "../proto/definitions/_colors.css";

$shark: 768px;

.default
{
    background-color:     var( --PC-WHITE );
    & > *
    {
	   margin:	1rem 0;
    }

    &:first-child > *
    {
        margin-top: 0;
    }
}

.sticky
{
    position:    sticky;
    top:         0;
    z-index:     1;
}

@media( min-width: $shark )
{
	.default
    {
    	margin-bottom:	0;

    	&:last-child
    	{
        	margin-bottom:	-1rem;
    	}
    }
}
