@import "../proto/definitions/_colors.css";

.default
{

}

.sticky
{
    position:    sticky;
    top:         0;
    background:  var( --PC-WHITE );
    z-index:     2;
}

.default.active /* make rule more specific */
{
    .cell
    {
        background: var( --GS-11 );
    }
}

.clickable
{
    cursor: pointer;

    &:hover,
    &.fakeHovered
    {
        .cell
        {
            background: var( --GS-11 );
        }
    }
}
