@import "../proto/definitions/_colors.css";

.default
{
    margin:     0;
    background: var( --PC-WHITE );
}

.sticky
{
    position:    sticky;
    top:         0;
    background:  var( --PC-WHITE );
    z-index:     2;
}

.active
{
    background: var( --GS-11 );
}

.clickable
{
    cursor: pointer;

    &:hover,
    &.fakeHovered
    {
        background: var( --GS-11 );
    }
}
