{
    "parser"  : "babel-eslint",
    "extends" : "airbnb",
    "env"     : {
        "browser" : false,
        "es6"     : true,
        "node"    : true
    },
    "rules" : {
        "arca/import-align"         : "error",
        "array-bracket-spacing"     : [ "error", "always" ],
        "arrow-parens"              : [ "off" ],
        "block-scoped-var"          : "error",
        "brace-style"               : [ "error", "allman" ],
        "camelcase"                 : [ "error", { "properties": "never" } ],
        "compat/compat"             : "error",
        "computed-property-spacing" : [ "error", "always" ],
        "consistent-return"         : "off",
        "func-call-spacing"         : [ "error", "never" ],
        "generator-star-spacing"    : "off",
        "global-require"            : "off",
        "import/first"              : "off",
        "import/no-unresolved"      : "error",
        "import/order"              : [
            "error",
            {
                "newlines-between" : "always",
                "groups"           : [
                    "builtin",
                    "external",
                    "internal",
                    [ "sibling", "parent" ],
                    "index"
                ]
            } ],
        "import/no-extraneous-dependencies" : "off",
        "indent"                            : [ "error", 4 ],
        "jsx-a11y/aria-role"                : [
            "error", { "ignoreNonDOM": true }
        ],
        "jsx-a11y/label-has-for"                  : "warn",
        "jsx-a11y/mouse-events-have-key-events"   : "off",
        "jsx-a11y/no-static-element-interactions" : "warn",
        "key-spacing"                             : [
            "error",
            {
                "singleLine" : {
                    "afterColon"  : true,
                    "beforeColon" : false
                },
                "multiLine" : {
                    "afterColon"  : true,
                    "align"       : "colon",
                    "beforeColon" : true
                }
            }
        ],
        "keyword-spacing"          : "error",
        "linebreak-style"          : [ "error", "unix" ],
        "max-len"                  : [ "error", 80, 4 ],
        "no-console"               : ["warn", { allow: ["warn"] } ],
        "no-constant-condition"    : "warn",
        "no-continue"              : "warn",
        "no-debugger"              : "error",
        "no-dupe-args"             : "warn",
        "no-dupe-keys"             : "warn",
        "no-duplicate-imports"     : "error",
        "no-empty-character-class" : "warn",
        "no-empty"                 : "warn",
        "no-eval"                  : "error",
        "no-extra-semi"            : "warn",
        "no-func-assign"           : "warn",
        "no-invalid-regexp"        : "warn",
        "no-irregular-whitespace"  : "warn",
        "no-magic-numbers"         : "warn",
        "no-multi-assign"          : "off",
        "no-multi-spaces"          : "off",
        "no-multi-str"             : "off",
        "no-restricted-globals"    : "off",
        "no-sparse-arrays"         : "warn",
        "no-underscore-dangle"     : "off",
        "no-unreachable"           : "warn",
        "no-unused-expressions"    : "warn",
        "no-unused-vars"           : "error",
        "no-use-before-define"     : "off",
        "no-with"                  : "error",
        "promise/always-return"    : "warn",
        "promise/catch-or-return"  : "error",
        "promise/no-native"        : "off",
        "promise/param-names"      : "error",
        "quote-props"              : [
            "error", "as-needed", { "keywords": true, "unnecessary": false }
        ],
        "quotes"                             : [ "error", "single" ],
        "radix"                              : ["off"],
        "react/jsx-closing-bracket-location" : "off",
        "react/jsx-curly-spacing"            : [ "error", "always" ],
        "react/jsx-equals-spacing"           : [ "error", "always" ],
        "react/jsx-first-prop-new-line"      : [ "error", "multiline" ],
        "react/jsx-indent-props"             : [ "error", 4 ],
        "react/jsx-indent"                   : [ "error", 4 ],
        "react/jsx-wrap-multilines"          : [ "error", { "arrow": false } ],
        "react/no-unused-prop-types"         : "warn",
        "react/prop-types"                   : [
            "error", { "ignore" : [ "children", "className", "cssMap" ] }
        ],
        "react/require-default-props" : "off",
        "require-jsdoc"               : [
            "error",
            {
                "require" : {
                    "ClassDeclaration"    : false,
                    "FunctionDeclaration" : true,
                    "MethodDefinition"    : false
                }
            }
        ],
        "semi-spacing" : [
            "error", { "before": false, "after": true }
        ],
        "sort-imports"                : "off",
        "space-before-function-paren" : [ "error", "never" ],
        "space-in-parens"             : [
            "error", "always", { "exceptions": [ "empty" ] }
        ],
        "spaced-comment" : [ "error", "always" ],
        "strict"         : [ "error", "safe" ],
        "valid-jsdoc"    : [
            "error",
            {
                "prefer"     : { "returns": "return" },
                "preferType" : {
                    "boolean"  : "Boolean",
                    "float"    : "Float",
                    "function" : "Function",
                    "integer"  : "Integer",
                    "number"   : "Number",
                    "object"   : "Object",
                    "string"   : "String"
                },
                "requireReturn"            : false,
                "requireReturnDescription" : false,
                "requireReturnType"        : false
            }
        ],
        "valid-typeof" : "error"
    },
    "globals" : {
        "after"      : true,
        "afterEach"  : true,
        "before"     : true,
        "beforeEach" : true,
        "describe"   : true,
        "expect"     : true,
        "fetch"      : true,
        "test"       : true,
        "jest"       : true
    },
    "plugins" : [
        "arca",
        "compat",
        "import",
        "jsx-a11y",
        "promise"
    ]
}
