{
  "rules": {
    "block-no-empty": null,
    "block-opening-brace-newline-after" :"always",
    "block-opening-brace-newline-before" : "always",
    "color-no-invalid-hex": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides" : true,
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-single-line-max-declarations": 1,
    "declaration-block-trailing-semicolon" : "always",
    "declaration-no-important": true,
    "font-family-no-duplicate-names": true,
    "indentation": [ 4, { indentInsideParens: "twice" }],
    "max-empty-lines": 7,
    "max-nesting-depth" : 2,
    "property-case": "lower",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-newline-before": "never-multi-line",
    "selector-list-comma-space-after": "always",
    "unit-whitelist": ["ch", "rem", "%", "s", "vw", "vh"],
    "unit-no-unknown": true,
    "unit-case" : "lower",
    "value-list-max-empty-lines": 1,
    "value-no-vendor-prefix" : true,
  },
  "ignorefiles" : [ "./node_modules/normalize.css/normalize.css" ]
}
