@import "../proto/base.css";

:root
{
    --backgroundTransition:  background-color 0.2s ease-in-out;
    --circleTransition:      left 0.25s cubic-bezier( 0.215, 0.61, 0.355, 1 );
    --textTransition:        opacity 0.2s cubic-bezier( 0.23, 1, 0.32, 1 ); /* easeOutQuint */
}

.default
{
    width:  auto;

    &:hover,
    &.fakeHovered
    {
        .label
        {
            background-color:       var( --PC-GREY--L70 );
        }

        .input:checked + .label
        {
            background-color:       var( --PC-BLUE );
        }
    }

    .input:focus
    {
        & + .label
        {
            background-color:       var( --PC-GREY--L70 );
            box-shadow:             0 0 10px var( --PC-BLUE );
        }

        &:checked + .label
        {
            background-color:       var( --PC-BLUE );
        }
    }
}


.disabled
{
    .label
    {
        cursor:                 default;
        background-color:       var( --PC-GREY--L90 );
    }

    .input:checked + .label
    {
        background-color:       var( --PC-BLUE--L40 );
    }

    &:hover
    {
        .label
        {
            background-color:       var( --PC-GREY--L90 );
        }

        .input:checked + .label
        {
              background-color:     var( --PC-BLUE--L40 );
        }
    }
}






.label
{
    position:           relative;
    display:            flex;

    min-height:         24px; /* necessary if there's no label */

    border-radius:      2rem;

    background-color:   var( --PC-GREY--L70 );

    cursor:             pointer;
    transition:         var( --backgroundTransition );


    &::before
    {
        content:            '';

        display:            block;
        position:           absolute;

        top:                3px;
        left:               3px;

        width:              18px;
        height:             18px;

        border-radius:      100%;

        background-color:   var( --PC-WHITE );

        transition:         var( --circleTransition );
    }
}

.off,
.on
{
    display:                block;
    box-sizing:             border-box;

    width:                  100%;

    padding-top:            4px;
    padding-bottom:         3px;

    color:                  var( --PC-WHITE );

    @extend %Nessie-SemiBold;

    font-size:              var( --typo-2 );
    line-height:            var( --line-height-s );
    letter-spacing:         0.04rem;
    text-transform:         uppercase;
    text-align:             center;

    overflow:               hidden;
    white-space:            nowrap;
    text-overflow:          ellipsis;

    transition:             var( --textTransition );
}

.off
{
    padding-left:           34px;
    padding-right:          13px;
}

.on
{
    position:               absolute; /* necessary to overlay on over off */
    top:                    0;
    bottom:                 0;
    left:                   0;
    right:                  0;

    padding-left:           16px;
    padding-right:          31px;

    opacity:                0;
}

/* INPUT */
/* basics to hide native input */
.input
{
    position:               absolute;
    left:                   -9999px;

    &:checked + .label::after
    {
        position:           absolute;
    }
}

.input:checked + .label
{
    background-color:       var( --PC-BLUE );
    transition:             var( --backgroundTransition );

    &::before
    {
        left:               calc( 100% - 21px);
        transition:         var( --circleTransition );
    }

    .off,
    .on
    {
        transition:         var( --textTransition );
    }

    .on
    {
        opacity:            1;
    }

    .off
    {
        opacity:            0;
    }
}
