@import "../proto/base.css";

:root
{
    --inputHeight:          40px;

    --trackWidth:           40px;
    --trackHeight:          16px;

    --borderWidth:          2px;

    --circleSize:           25px;
    --circleOffset:         4px;

    --backgroundTransition: background-color 0.2s ease-in-out;
    --circleTransition:     background-color 0.2s ease-in-out, left 0.25s cubic-bezier( 0.215, 0.61, 0.355, 1 );
}

.default
{
    display:            flex;
    align-items:        center;
    justify-content:    center;


    width:              calc( var( --trackWidth ) + ( var( --circleOffset ) * 2 ) );
    height:             var( --inputHeight );

    .input
    {
        position:   absolute;
        left:       -9999px;
    }

    .label
    {
        display:        flex;

        box-sizing:     border-box;

        width:          var( --trackWidth );
        height:         var( --trackHeight );

        border-radius:  calc( var( --trackHeight ) / 2 );

        background:     var( --PC-GREY );

        cursor:         pointer;
        transition:     var( --backgroundTransition );

        &::before
        {
            content:        '';

            display:        block;
            position:       absolute;

            box-sizing:     border-box;

            top:            50%;
            left:           0;
            transform:      translateY( -50% );

            width:          var( --circleSize );
            height:         var( --circleSize );

            border-radius:  100%;
            border-style:   solid;
            border-width:   var( --borderWidth );
            border-color:   var( --PC-GREY );

            background:     var( --PC-WHITE );

            transition:     var( --circleTransition );
        }
    }

    .input:checked + .label
    {
        background: var( --PC-BLUE );
        transition: var( --backgroundTransition );

        &::before
        {
            left:           calc( 100% - var( --circleSize ) );
            border-color:   var( --PC-BLUE );
        }
    }

    .input:focus
    {
        & + .label
        {
            background: var( --PC-GREY );

            /* mimic native browser focus */
            outline:    auto 2px highlight;
            outline:    auto 5px -webkit-focus-ring-color;
        }

        &:checked + .label
        {
            background: var( --PC-BLUE );
        }
    }

    :hover,
    .fakeHovered
    {
        .label
        {
            background: var( --PC-GREY );
        }

        .input:checked + .label
        {
            background: var( --PC-BLUE );
        }
    }
}

.disabled
{
    .label
    {
        cursor:     default;
        background: var( --PC-GREY--L40 );

        &::before
        {
            border-color: var( --PC-GREY--L40 );
        }
    }

    .input:checked + .label
    {
        background: var( --PC-BLUE--L55 );

        &::before
        {
            border-color: var( --PC-BLUE--L55 );
        }
    }

    :hover,
    .fakeHovered
    {
        .label
        {
            background: var( --PC-GREY--L40 );

            &::before
            {
                border-color: var( --PC-GREY--L40 );
            }
        }

        input:checked + .label
        {
            background: var( --PC-BLUE--L55 );

            &::before
            {
                border-color: var( --PC-BLUE--L55 );
            }
        }
    }
}
