@import "../proto/base.css";

:root
{
    --horizontalSliderHeight:   40px;
    --verticalSliderHeight:     300px;

    --trackSize:                2px;
    --trackBorderWidth:         1px;

    --handleSize:               16px;

    --tickSize:                 4px;

    --labelMargin:              10px;
    --stepLabelContainerHeight: 16px; /*matches line height of labels*/
}


.default
{
    .inputContainer
    {
        position:   absolute;
        left:       -9999999px;
    }


    /* Track + handles */

    .handle,
    .track,
    {
        box-sizing: border-box;
    }

    .handle,
    .trackFill
    {
        position:   absolute;
        z-index:    1;
    }

    .trackContainer
    {
        display:    flex;
    }

    .track
    {
        position:                       relative;

        width:                          var( --trackSize );
        border-radius:                  var( --trackSize );

        background:                     var( --PC-GREY--L90 );

        user-select:                    none;
        cursor:                         pointer;

        -webkit-tap-highlight-color:    transparent;

        &:hover
        {
            .handle
            {
                border-color: var( --PC-BLUE );
            }
        }
    }

    .trackFill
    {
        border-radius:      calc( var( --trackSize ) - ( 2 * var( --trackBorderWidth ) ) );
        background:         var( --PC-BLUE );
    }

    .handle
    {
        width:              var( --handleSize );
        height:             var( --handleSize );

        border-radius:      50%;
        background-color:   var( --PC-BLUE );

        cursor:             grab;

        z-index:            9999;

        &:active
        {
            cursor:         grabbing;
        }
        &::after
        {
          transition: opacity 450ms;
          content: '';
          position: absolute;
          background-color:  var( --PC-BLUE--D15 );
          opacity: 0;
          width: 24px;
          height: 24px;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }

    }

    .handleFocus
    {
      &::after
      {
        opacity: .2;
      }
    }

    .handleLabel
    {
        display:            none;
    }


    /* Ticks */

    .ticksContainer
    {
        width:              100%;
        height:             100%;
        position:           relative;
    }

    .tick
    {
        position:           absolute;
        transform:          translateX(-50%) translateY(-50%);
        z-index:            2;

        font-size:          0;

        background-color:   var( --PC-WHITE );

        width:              var( --tickSize );
        height:             var( --tickSize );
    }


    /* Step labels */

    .stepLabelsContainer
    {
        position:           relative;
    }

    .stepLabel
    {
        @extend %Nessie-RegularIt;
        font-size:      var( --typo-3 );
        line-height:    var( --line-height-s );
        color:          var( --PC-GREY--L40 );

        position:           absolute;
    }
}




.orientation__horizontal
{
    .trackContainer
    {
        flex-direction: column;
    }

    .track,
    .stepLabelsContainer
    {
        width:          calc( 100% - var( --handleSize ) );

        margin-left:    calc( var( --handleSize ) / 2 );
        margin-right:   calc( var( --handleSize ) / 2 );
    }

    .track
    {
        height:         var( --trackSize );

        margin-top:     calc( ( var( --horizontalSliderHeight ) - var( --trackSize ) ) / 2 );
        margin-bottom:  calc( ( var( --horizontalSliderHeight ) - var( --trackSize ) ) / 2 );
    }

    .handle
    {
        top:            50%;
        transform:      translateX( -50% ) translateY( -50% );
    }

    .trackFill
    {
        height:         var( --trackSize );
    }

    .stepLabelsContainer
    {
        height:         var( --stepLabelContainerHeight );

        margin-left:    calc( var( --handleSize) / 2 );
        margin-right:   calc( var( --handleSize) / 2 );
    }

    .stepLabelsContainer
    {
        margin-bottom:  var( --spacing-1 );
    }

    .stepLabel
    {
        transform:  translateX( -50% );

        &:first-child /* start label */
        {
            transform:  translateX( calc( -1 * ( var( --handleSize) / 2 ) ) );
        }

        &:last-child /* end label */
        {
            transform: translateX( calc( -100% + ( var( --handleSize) / 2 ) ) );
        }
    }
}




.orientation__vertical
{
    width:      auto;
    height:     var( --verticalSliderHeight );

    .trackContainer
    {
        height: 100%;
    }

    .track,
    .stepLabelsContainer
    {
        height:         calc( 100% - var( --handleSize ) );

        margin-top:     calc( var( --handleSize ) / 2 );
        margin-bottom:  calc( var( --handleSize ) / 2 );
    }

    .trackFill
    {
        width:          var( --trackSize );
    }

    .handle
    {
        left:           50%;
        transform:      translateX( -50% ) translateY( 50% );
    }

    .stepLabelsContainer
    {
        margin-right:       var( --labelMargin );

        &:last-child
        {
            margin-right:   0;
            margin-left:    var( --labelMargin );
        }
    }

    .stepLabel
    {
        transform:  translateY( 50% );
    }

    .tick
    {
        left:       50%;
        transform:  translateX( -50% ) translateY( 50% );
    }
}




.hasHandleLabels
{
    .handleLabel
    {
        display:            flex;
        position:           relative;
        justify-content:    center;

        color:              var( --PC-BLUE );

        cursor:             default;
        user-select:        none;

        line-height:        var( --line-height-s );
    }
}


.handleLabelPosition__top
{
    .handleLabel
    {
        top:        calc( -1 * ( var( --spacing-1 ) / 2 ) );
        transform:  translateY( -100% );
    }
}

.handleLabelPosition__bottom
{
    .handleLabel
    {
        bottom:     calc( -1 * ( var( --spacing-1 ) / 2 ) );
        transform:  translateY( 100% );
    }
}

.handleLabelPosition__right
{
    .handleLabel
    {
        right:      calc( -1 * ( var( --spacing-1 ) / 2 ) );
        transform:  translateX( 100% );
    }
}

.handleLabelPosition__left
{
    .handleLabel
    {
        left:       calc( -1 * ( var( --spacing-1 ) / 2 ) );
        transform:  translateX( -100% );

    }
}




.error
{
    .trackFill
    {
        background: color( var( --PC-RED ) a( 35% ) );
    }

    .handleLabel
    {
        color:      var( --PC-RED );
    }
}


.disabled
{

    .track:hover
    {
      cursor: default;
      .handle
      {
          border-color:   var( --PC-GREY--L85 );
      }
    }

    .trackFill
    {
        background:         var( --PC-BLUE--L70 );
        cursor: default;
    }

    .handle
    {
        background:         var( --PC-BLUE--L70 );
        cursor:             default;

        &:active
        {
            cursor:         default;
            &::after
            {
              content: none;
            }
        }
    }

    .handleLabel
    {

    }

    .ticksContainer
    {
        display:            none;
    }

    .stepLabel
    {
        color:              var( --PC-GREY--L70 );
    }
}


.labelContainer
{
    margin-bottom:  8px;
}


.grabbing
{
    .handle,
    .trackFill
    {
        transition: none;
    }

    .handle
    {
        width:              var( --handleSize );
        height:             var( --handleSize );

        background-color:   var( --PC-BLUE );
        border-color:       var( --PC-BLUE );
    }
}
