@import "../proto/base.css";

:root
{
    --horizontalSliderHeight:   var( --spacing-5 );
    --verticalSliderHeight:     300px;

    --trackSize:                2px;
    --trackBorderWidth:         1px;

    --handleSize:               var( --spacing-2 );

    --tickSize:                 calc( var( --spacing-1 / 2 ) );

    --labelMargin:              10px;
    --stepLabelContainerHeight: var( --spacing-2 );
}


.default
{
    .inputContainer
    {
        position:   absolute;
        left:       -9999999px;
    }

    .labelContainer
    {
        margin-bottom:  var( --spacing-1 );
    }

    /* Track + handles */

    .handle,
    .track,
    {
        box-sizing: border-box;
    }

    .handle,
    .trackFill
    {
        position:   absolute;
        z-index:    1;
    }

    .trackContainer
    {
        display:    flex;
    }

    .track
    {
        position:                       relative;

        width:                          var( --trackSize );
        border-radius:                  var( --trackSize );

        background:                     var( --PC-GREY--L90 );

        user-select:                    none;
        cursor:                         pointer;

        -webkit-tap-highlight-color:    transparent;
    }

    .trackFill
    {
        border-radius:  calc( var( --trackSize ) - ( 2 * var( --trackBorderWidth ) ) );
        background:     var( --PC-BLUE );
    }

    .handle
    {
        width:          var( --handleSize );
        height:         var( --handleSize );

        border-radius:  50%;
        background:     var( --PC-BLUE );

        cursor:         grab;

        z-index:        9999;

        &::after
        {
            content: '';

            position:       absolute;
            top:            50%;
            left:           50%;
            transform:      translate( -50%, -50% );

            width:          var( --spacing-3 );
            height:         var( --spacing-3 );

            background:     var( --PC-BLUE--D15 );

            border-radius:  50%;

            opacity:        0;
            transition:     opacity 450ms;
        }

        &:active
        {
            cursor: grabbing;
        }
    }

    .handleFocus
    {
        &::after
        {
            opacity:    0.2;
        }
    }

    .handleLabel
    {
        display:    none;
    }


    /* Ticks */

    .ticksContainer
    {
        position:   relative;
        width:      100%;
        height:     100%;
    }

    .tick
    {
        position:   absolute;
        transform:  translateX(-50%) translateY(-50%);

        width:      var( --tickSize );
        height:     var( --tickSize );

        font-size:  0;

        background: var( --PC-WHITE );

        z-index:    2;
    }


    /* Step labels */

    .stepLabelsContainer
    {
        position:   relative;
    }

    .stepLabel
    {
        position:       absolute;

        @extend         %Nessie-RegularIt;
        font-size:      var( --typo-3 );
        line-height:    var( --line-height-s );
        color:          var( --PC-GREY--L40 );
    }
}




.orientation__horizontal
{
    .trackContainer
    {
        flex-direction: column;
    }

    .track,
    .stepLabelsContainer
    {
        width:          calc( 100% - var( --handleSize ) );

        margin-left:    calc( var( --handleSize ) / 2 );
        margin-right:   calc( var( --handleSize ) / 2 );
    }

    .track
    {
        height:         var( --trackSize );

        margin-top:     calc( ( var( --horizontalSliderHeight ) - var( --trackSize ) ) / 2 );
        margin-bottom:  calc( ( var( --horizontalSliderHeight ) - var( --trackSize ) ) / 2 );
    }

    .handle
    {
        top:        50%;
        transform:  translateX( -50% ) translateY( -50% );
    }

    .trackFill
    {
        height: var( --trackSize );
    }

    .stepLabelsContainer
    {
        height:         var( --stepLabelContainerHeight );

        margin-left:    calc( var( --handleSize) / 2 );
        margin-right:   calc( var( --handleSize) / 2 );
    }

    .stepLabelsContainer
    {
        margin-bottom:  var( --spacing-1 );
    }

    .stepLabel
    {
        transform:  translateX( -50% );

        &:first-child /* start label */
        {
            transform:  translateX( calc( -1 * ( var( --handleSize) / 2 ) ) );
        }

        &:last-child /* end label */
        {
            transform:  translateX( calc( -100% + ( var( --handleSize) / 2 ) ) );
        }
    }
}




.orientation__vertical
{
    width:  auto;
    height: var( --verticalSliderHeight );

    .trackContainer
    {
        height: 100%;
    }

    .track,
    .stepLabelsContainer
    {
        height:         calc( 100% - var( --handleSize ) );

        margin-top:     calc( var( --handleSize ) / 2 );
        margin-bottom:  calc( var( --handleSize ) / 2 );
    }

    .trackFill
    {
        width:  var( --trackSize );
    }

    .handle
    {
        left:       50%;
        transform:  translateX( -50% ) translateY( 50% );
    }

    .stepLabelsContainer
    {
        margin-right:   var( --labelMargin );

        &:last-child
        {
            margin-left:    var( --labelMargin );
            margin-right:   0;
        }
    }

    .stepLabel
    {
        transform:  translateY( 50% );
    }

    .tick
    {
        left:       50%;
        transform:  translateX( -50% ) translateY( 50% );
    }
}




.hasHandleLabels
{
    .handleLabel
    {
        display:            flex;
        position:           relative;
        justify-content:    center;

        color:              var( --PC-BLUE );
        line-height:        var( --line-height-s );

        cursor:             default;
        user-select:        none;
    }
}


.handleLabelPosition__top
{
    .handleLabel
    {
        top:        calc( -1 * ( var( --spacing-1 ) / 2 ) );
        transform:  translateY( -100% );
    }
}

.handleLabelPosition__bottom
{
    .handleLabel
    {
        bottom:     calc( -1 * ( var( --spacing-1 ) / 2 ) );
        transform:  translateY( 100% );
    }
}

.handleLabelPosition__right
{
    .handleLabel
    {
        right:      calc( -1 * ( var( --spacing-1 ) / 2 ) );
        transform:  translateX( 100% );
    }
}

.handleLabelPosition__left
{
    .handleLabel
    {
        left:       calc( -1 * ( var( --spacing-1 ) / 2 ) );
        transform:  translateX( -100% );

    }
}


.error
{
    .trackFill
    {
        background: color( var( --PC-RED ) a( 35% ) );
    }

    .handle
    {
        background: var( --PC-RED ) !important;

        &::after
        {
            background: var( --PC-RED--D15 );
        }
    }

    .handleLabel
    {
        color:  var( --PC-RED );
    }
}


.grabbing
{
    .handle,
    .trackFill
    {
        transition: none;
    }

    .handle
    {
        width:          var( --handleSize );
        height:         var( --handleSize );

        background:     var( --PC-BLUE );
    }
}


.disabled
{
    .track,
    .handle
    {
        cursor: default !important;
    }

    .handle
    {
        background:     var( --PC-BLUE--L70 );

        &::after
        {
            display:    none;
        }
    }

    .trackFill
    {
        background: var( --PC-BLUE--L70 );
    }

    .ticksContainer
    {
        display:    none;
    }

    .stepLabel
    {
        color:  var( --PC-GREY--L70 );
    }
}
