$shark: 768px;

.default
{
    flex:               1 0 0%;

    position:           relative;
    display:            flex;
    flex-direction:     column;
    justify-content:    flex-start;
    align-items:        stretch;

    box-sizing:         border-box;

    max-width:          100%;
    min-width:          0;
}

.alignX__left
{
    align-items:    flex-start;
    text-align:     left;

    .default /* hack for IE */
    {
        flex:           0 0 auto;
        align-items:    flex-start;
    }
}

.alignX__center
{
    align-items:    center;
    text-align:     center;

    .default /* hack for IE */
    {
        flex:           0 0 auto;
        align-items:    center;
    }
}

.alignX__right
{
    align-items:    flex-end;
    text-align:     right;

    .default /* hack for IE */
    {
        flex:           0 0 auto;
        align-items:    flex-end;
    }
}

.alignY__middle
{
    justify-content:    center;
}

.alignY__bottom
{
    justify-content:    flex-end;
}

/* Intended for actual columns of components that do not need rows. */
.alignY__space-around
{
    justify-content:    space-around;

    & > *
    {
        margin-bottom:  2rem;

        &:last-child
        {
            margin-bottom:  0
        }
    }
}


@for $i from 1 to 24
{
    @for $j from 1 to 24
    {
        .size__$(i)\/$(j)
        {
            /*flex:       0 0 calc( $i / $j * 100% );*/
            min-width:  calc( $i / $j * 100% );
            max-width:  calc( $i / $j * 100% );
        }
    }
}

.size__content
{
    flex:   0 0 auto;

    .default /* hack for IE */
    {
        flex:           0 0 auto;
        align-items:    center;
    }
}

.size__icon-S,
.size__icon-M,
.size__icon-L,
.size__icon-XL,
.size__icon-XXL
{
    box-sizing: content-box;
}

.size__icon-S
{
    min-width:  1.6rem;
    max-width:  1.6rem;
}
.size__icon-M
{
    min-width:  2.4rem;
    max-width:  2.4rem;
}
.size__icon-L
{
    min-width:  3.2rem;
    max-width:  3.2rem;
}
.size__icon-XL
{
    min-width:  4rem;
    max-width:  4rem;
}
.size__icon-XXL
{
    min-width:  4.8rem;
    max-width:  4.8rem;
}
