@import "../proto/base.css";

.default
{
    .container
    {
        display:            flex;
        flex-wrap:          wrap;
        align-items:        center;

        box-sizing:         border-box;
        width:              100%;
        min-height:         32px;

        border:             1px solid var( --PC-GREY--L70 );
        border-radius:      2px;

        padding-top:        var( --spacing-1 );
        padding-right:      var( --spacing-1 );
        padding-bottom:     0;
        padding-left:       var( --spacing-1 );

        background-color:   var( --PC-WHITE );
        outline:            none;

        overflow-x:         hidden;

        & > *
        {
            margin-right:   var( --spacing-1 );
            margin-bottom:  var( --spacing-1 );
        }
    }

    .input
    {
        flex:           1 0 0%;

        box-sizing:     border-box;
        min-width:      5ch;
        height:         20px;

        padding:        0;
        padding-top:    1px;

        border:         none;
        margin-right:   0;

        background:     transparent;

        @extend         %Nessie-Regular;
        font-size:      var( --typo-3 );
        line-height:    var( --line-height-m );
        letter-spacing: 0.4px;
        text-indent:    5px;
        color:          var( --PC-GREY--D5 );

        resize:         none; /* required for Safari */

        &:focus
        {
            outline:    none;

            &::placeholder
            {
                color: transparent !important;
            }
        }

        &::placeholder
        {
            @extend %Nessie-RegularIt;
            color:         var( --PC-GREY--L80 );
        }
    }
}


.fakeHovered
{
    .container
    {
        border-color:   var( --PC-BLUE );
        box-shadow:     0 0 0 0.1rem var( --PC-BLUE );
    }
}


.disabled
{
    .container
    {
        pointer-events: none;

        &:hover
        {
            border-color:   ( --PC-GREY--L70 );
        }
    }
}


.error
{
    .container
    {
        border-color:   var( --PC-RED ) !important; /* yes, always override other states */
        box-shadow:     0 0 0 1px var( --PC-RED );
    }
}


.resizable
{
    .container
    {
        resize: vertical;
    }
}
