@import "../proto/base.css";
@import "./codemirror.css";

.default
{
    .editor
    {
        height: auto;

        .fakeHovered&
        {
            /* browser default focus style */
            outline: auto 2px highlight;
            outline: auto 5px -webkit-focus-ring-color;
        }
    }

    :global .CodeMirror
    {
        box-sizing:     border-box;
        height:         100%;

        font-family:    monospace, sans-serif;
        font-size:      var( --typo-3 );
        line-height:    var( --line-height-m );

        &-scroll
        {
            overscroll-behavior-y:  contain;
        }
    }
}
