@import "../proto/base.css";
@import "../proto/definitions/_colors.css";
@import "./codemirror.css";

.default
{
    .container
    {

    }

    .editor
    {
        box-sizing: border-box;
        border:     0.1rem solid color( var( --GS-2 ) a( 50% ) );

        &:hover,
        .fakeHovered &
        {
            border: 0.1rem solid var( --PC-BLUE );
        }
    }

}

.error
{
    .editor
    {
        border-color:   var( --AC-2 ) !important;
    }
}

.disabled
{
    .editor
    {
        border-color:   var( --GS-10 ) !important;

        background:     var( --GS-10 ) !important;
        color:          color( var( --GS-2 ) a( 50% ) ) !important;
    }
}



:global
{
    .CodeMirror
    {
        height:         auto;
        padding:        0.8rem 0 0.9rem 0;
        background:     transparent;
        line-height:    initial;

        font-family:    monospace, sans-serif;
        font-size:      1.1rem;
    }

    .CodeMirror-sizer
    {
        margin-left:        0 !important;
    }

    .CodeMirror-gutters
    {
        border:             none;
        background-color:   transparent;
        left:               0 !important;
    }

    .CodeMirror-gutter-wrapper
    {
        left:               0 !important;
    }

    .CodeMirror-linenumber
    {
        white-space:    normal;
    }

    .CodeMirror-line
    {
        text-indent:    4rem;
    }
}

:global @keyframes blink
{
  0% {}
  50% { background-color: transparent; }
  100% {}
}
