@import "../proto/base.css";
@import "./codemirror.css";

.default
{
    .editor
    {
        box-sizing: border-box;

        .fakeHovered&
        {
            /* browser default focus style */
            outline: auto 0.2rem highlight;
            outline: auto 0.5rem -webkit-focus-ring-color;
        }
    }
}

.error
{
    .editor
    {
        /* style me! */
    }
}

.disabled
{
    .editor
    {
        /* style me! */
    }
}






:global
{
    .CodeMirror
    {
        height:         auto;
        padding:        0.8rem 0 0.9rem 0;
        background:     transparent;
        line-height:    initial;

        font-family:    monospace, sans-serif;
        font-size:      var( --typo-3 );
        line-height:    var( --line-height-m );
    }

    .CodeMirror-sizer
    {
        margin-left:    0 !important;
    }

    .CodeMirror-gutters
    {
        border:             none;
        background-color:   transparent;
        left:               0 !important;
    }

    .CodeMirror-gutter-wrapper
    {
        left:   0 !important;
    }

    .CodeMirror-linenumber
    {
        white-space:    normal;
    }

    .CodeMirror-line
    {
        text-indent:    4rem;
    }
}

:global @keyframes blink
{
  0% {}
  50% { background-color: transparent; }
  100% {}
}
