@import "../proto/checkable.css";

.default
{
}

.input:checked
{
    & + .label::before
    {
        border-color:           var( --PC-BLUE );
        background-color:       var( --PC-BLUE );
    }

    & + .label::after
    {
        display:                block;

        background:             url( './images/validation--white.svg' );

        width:                  var( --spacing-2 );
        height:                 var( --spacing-2 );

        top:                    4px;
        left:                   2px;
    }
}

.fakeHovered
{
}

.disabled,
.disabled:hover
{
    .input:checked + .label::before
    {
        border-color:           var( --PC-BLUE--L40 );
        background-color:       var( --PC-BLUE--L40 );
    }
}


.error,
.error:hover
{
    .input:checked + .label::before
    {
        border-color:           var( --PC-RED );
        background-color:       var( --PC-RED );
    }
}
