@import '../proto/base.css';
@import "../proto/definitions/variables.css";

.default
{
    width:          auto;

    .calendarHeader
    {
        @extend %Nessie-Bold;
        color:              var( --PC-BLUE );
        font-size:          1.1rem;
        line-height:        var( --line-height-s );
        text-transform:     uppercase;
        text-align:         center;

        th
        {
             padding-bottom:    0.8rem;

            &:last-child
            {
                padding-right:  0;
            }

            span
            {
                display:        block;
                position:       relative;
                top:            0.5rem;
                margin-top:     -0.8rem;
            }
        }
    }

    table
    {
        padding-top:        var( --spacing-3 );
        padding-right:      var( --spacing-1 );
        padding-bottom:     var( --spacing-2 );
        padding-left:       var( --spacing-1 );

        border-left:        solid 1px var( ----PC-GREY--L70 );
        border-bottom:      solid 1px var( ----PC-GREY--L70 );
        border-right:       solid 1px var( ----PC-GREY--L70 );
    }

    td
    {
        padding: 0.4rem;
    }
}
