@import "../proto/definitions/_colors.css";
@import "../proto/definitions/_fonts.css";
@import '../proto/base.css';

.default
{
    width:  auto;

    .calendarHeader
    {
        @extend %Nessie-Bold;
        color:              var( --PC-BLUE );
        font-size:          1.1rem;
        line-height:        var( --line-height-s );
        text-transform:     uppercase;
        text-align:         center;

        th
        {
             padding-bottom:    0.8rem;

            &:last-child
            {
                padding-right:  0;
            }

            span
            {
                display:        block;
                position:       relative;
                top:            0.5rem;
                margin-top:     -0.8rem;
            }
        }
    }

    td
    {
        padding: 0.4rem;
    }
}
