@import "../proto/definitions/_colors.css";
@import "../proto/definitions/_fonts.css";
@import '../proto/base.css';

.default
{
    width:  auto;

    .calendarHeader
    {
        @extend %Nessie-Bold;
        color:  var( --PC-BLUE );

        th
        {
            padding:    0 0.6rem 2rem 0;

            &:last-child
            {
                padding-right:  0;
            }

            span
            {
                display:        block;
                position:       relative;
                top:            0.5rem;
                margin-top:     -0.8rem;
            }
        }
    }
}
