@import '../proto/base.css';

.default
{
    display:            flex;

    flex-direction:     row;
    align-items:        center;
    justify-content:    center;

    padding:            0;
    border:             1px solid transparent;

    background:         var( --PC-WHITE );

    cursor:             pointer;

    .text
    {
        color:                  var( --PC-GREY--D25 );
        font-variant-numeric:   lining-nums tabular-nums;
        font-size:              var( --typo-3 );
        font-weight:            300;
        line-height:            var( --line-height-s );
    }

    &:hover
    {
        border-color:   var( --PC-BLUE );
        background:     var( --PC-WHITE );
        color:          var( --GS-2 );
    }

    &.fakeHovered,
    &:focus,
    &:hover
    {
        border-color:   var( --PC-BLUE );
        background:     var( --PC-WHITE );

        .text
        {
            color:      var( --GS-2 );
        }
    }
}

.type__day
{
    height:             var( --spacing-4 );
    width:              var( --spacing-4 );
    min-width:          var( --spacing-4 ); /* IE fix */
    border-radius:      100%;
}

.type__month
{
    height:                 32px;
    width:                  64px;
    border-radius:          3px;
}


.selected
{
    border-color:   var( --PC-BLUE );
    background:     var( --PC-BLUE );

    .text
    {
        color:      var( --PC-WHITE );
    }

    &.fakeHovered,
    &:focus,
    &:hover
    {
        background:     color( var( --PC-BLUE ) tint( 15% ) );
        border-color:   color( var( --PC-BLUE ) tint( 15% ) );

        .text
        {
            color:      var( --PC-WHITE );
        }
    }

}


.disabled,
.disabled.fakeHovered,
.disabled:focus,
.disabled:hover
{
    border-color:   var( --PC-GREY--L90 );
    background:     var( --PC-GREY--L90 );
    cursor:         default;

    .text
    {
        color:      var( --PC-GREY--L70 );
    }
}
