@import '../proto/definitions/variables.css';

.default
{
    position:                   relative;

    padding-top:                var( --spacing-3 );
    padding-right:              var( --spacing-3 );
    padding-bottom:             var( --spacing-2 );
    padding-left:               var( --spacing-3 );

    background-color:           var( --PC-BLUE );

    border-top-left-radius:     2px;
    border-top-right-radius:    2px;

    .date
    {

        @extend %Nessie-Light;
        color:          var( --PC-WHITE );
        font-size:      22px;
        font-weight:    300;
        line-height:    var( --line-height-m );

        margin-bottom:  0;
        margin-top:     var( --spacing-2 );
        padding-top:    var( --spacing-3 );
        position:       relative;

        display:        inline-block;
        width:          50%;
    }

    .year
    {
        @extend %Nessie-Bold;
        font-size:      13px;
        font-weight:    400;
        line-height:    var( --line-height-s );

        position:       absolute;
        top:            0;
        left:           0;
    }

    .buttonsWrapper
    {
        display:            flex;
        justify-content:    space-between;
        align-items:        center;
        align-content:      center;
    }

    .prev,
    .next
    {
        width:          var( --spacing-3 );
        height:         var( --spacing-3 );

        &:focus
        {
            box-shadow:   0 0 0 2px color( var( --PC-WHITE ) a( 30% ) );
        }
    }
}
