@import "../proto/base.css";

.default
{
    top:            0.5rem;

    width:          auto;

    margin:         0;
    margin-top:     -0.9rem;
    margin-bottom:  var( --spacing-1 );

    font-size:      var( --typo-l );

    .default
    {
        display:    inline;
        position:   static;
    }
}

.noWrap
{
    white-space: nowrap;
}

.role__default
{
    color:  var( --PC-GREY--L10 );
}

.role__subtle
{
    color:  var( --GS-5 );
}

.role__promoted
{
    color:  var( --PC-GREEN );
}

.role__critical
{
    color:  var( --PC-RED );
}


.overflowHidden
{
    overflow:       hidden;
    overflow-wrap:  normal;
    text-overflow:  ellipsis;
}
