@import "../proto/base.css";
@import "../proto/definitions/_colors.css";

.default
{
    display:        flex;
    align-items:    center;

    width:          auto;

    padding-left:   var( --spacing-2 );
    padding-top:    0.4rem;
    padding-bottom: 0.4rem;

    background:     var( --PC-BLUE--L90 );

    .label
    {
        @extend %Nessie-SemiBold;

        letter-spacing: 0.04rem;
        white-space:    nowrap;
        color: var( --PC-BLUE );
    }

    .delete
    {
        margin-left:    var( --spacing-1 );
        margin-right:   var( --spacing-1 );
    }

    & > *
    {
        margin-bottom:  0;
    }
}

.disabled
{
    background:     var( --PC-GREY--L90 );

    .label
    {
        color:      var( --PC-GREY--L40 );
    }
}
