@import "../proto/definitions/_fonts.css";
@import "../Button/button.css";

.default
{
    margin:             0 0 -1px 0;
    color:              var( --PC-GREY--L70 ) ;

    border-radius:      0;

    text-transform:     initial;

    &:last-child
    {
        margin-bottom: -1px; /* overrides base rule */
    }

    &:not(:last-child)
    {
        margin-right: var( --spacing-2 );
    }

    .content
    {
        min-width: 0;
    }

    &:hover .content
    {

    }
}

.label
{
	@extend %Nessie-SemiBold;

    font-size:      var( --typo-3 );
    line-height:    var( --line-height-s );
    padding-left:   var( --spacing-1 );
    padding-right:  var( --spacing-1 );
}

.active
{
    color:                  var( --PC-BLUE );
    border-bottom:          1px solid var( --PC-BLUE );
    pointer-events:         none;
    cursor:                 default;
}

.subtitle
{
	font-weight: 		normal;
    text-transform:     initial;
}
