@import "../Button/button.css"; /* imports base.css */

.default
{
    color:          var( --PC-GREY--L70 );
    text-transform: none;

    .content
    {
        min-width:      0;
        margin:         0;
        padding:        0;

        border:         1px solid transparent;
        border-radius:  0 0 2px;
    }

    .label
    {
        @extend %Nessie-Bold;

        font-size:      var( --typo-3 );
        line-height:    var( --line-height-s );
        padding-left:   var( --spacing-1 );
        padding-right:  var( --spacing-1 );

        margin-bottom:  -1px;
    }

    .subtitle
    {
        font-weight: 	normal;
        text-transform: initial;
    }

    &:focus
    {
        outline:    none;

        .content
        {
            border:     1px solid var( --PC-BLUE );
            box-shadow: 0 0 0 2px color( var( --PC-BLUE ) a( 30% ) );
        }
    }
}

.active
{
    color:          var( --PC-BLUE );
    border-bottom:  1px solid var( --PC-BLUE );
    margin-bottom:  0;
    pointer-events: none;
    cursor:         default;
}
