@import "../Button/button.css"; /* imports base.css */

.default
{
    margin:             0;
    color:              var( --PC-GREY--L70 ) ;

    border-radius:      0;
    border-bottom:      1px solid transparent;

    text-transform:     none;


    &:not(:last-child)
    {
        margin-right: var( --spacing-2 );
    }

    .content
    {
        min-width: 0;
        margin:    0;
        padding:   0;
    }

    &:hover .content
    {

    }
}

.label
{
    @extend %Nessie-Bold;

    font-size:      var( --typo-3 );
    line-height:    var( --line-height-s );
    padding-left:   var( --spacing-1 );
    padding-right:  var( --spacing-1 );
}

.active
{
    color:          var( --PC-BLUE );
    border-bottom:  1px solid var( --PC-BLUE );
    pointer-events: none;
    cursor:         default;
}

.subtitle
{
    font-weight: 	normal;
    text-transform: initial;
}
