@import '../proto/base.css';

.default
{
    min-width:  0;
    max-width:  none;

    border:     1px solid color( var( --PC-GREY ) a(12%) );

    box-shadow: var( --boxShadow );

    background: var( --PC-WHITE );

    border-radius: 2px;
}

.error
{
    border-color:   var( --PC-RED );
}

.padding__S
{
    padding:    10px;
}
.padding__M
{
    padding:    20px;
}
.padding__L
{
    padding:    30px;
}

.size__default
{
    width: 100%;
}

.size__content
{
    width: auto;
}
