@import '../proto/base.css';

.default
{
    min-width:  0;
    max-width:  none;

    border:     1px solid var(--PC-GREY--L70);
    box-shadow: 0 4px 10px 0 color( var( --PC-GREY ) a(10%) );

    background: var( --PC-WHITE );
}

.error
{
    border-color:   var( --AC-RED);
}

.padding__S
{
    padding:    10px;
}
.padding__M
{
    padding:    20px;
}
.padding__L
{
    padding:    30px;
}

.size__default
{
    width: 100%;
}

.size__content
{
    width: auto;
}
