@import "../proto/base.css";
@import "../proto/definitions/_colors.css";
@import "../proto/global.css";

.default
{
    margin-bottom:  var( --spacing-l );

    /*&::after
    {
        bottom: -1rem;
    }*/
}

.content
{
/*  */
}

.level__1
{
    margin-bottom:  var( --spacing-xxl );

    &::after
    {
        bottom: -( var( --spacing-l ) );
    }
}

.level__2
{
    margin-bottom: var( --spacing-xl );

    &::after
    {
        bottom: -( var( --spacing-s ) );
    }
}




/*

.divider
{
    &::after
    {
        content:        '';

        display:        block;
        position:       absolute;

        left:           0;

        width:          calc( 100% + 3rem );
        height:         0.1rem;

        background:     color( var( --GS-2 ) a( 20% ) );
    }
}
*/
