@import "../proto/base.css";

.default
{
    margin-bottom:  var( --spacing-4 );

    /*&::after
    {
        bottom: -1rem;
    }*/
}

.content
{
/*  */
}

.level__1
{
    margin-bottom:  var( --spacing-8 );

    &::after
    {
        bottom: -( var( --spacing-4 ) );
    }
}

.level__2
{
    margin-bottom: var( --spacing-5 );

    &::after
    {
        bottom: -( var( --spacing-2 ) );
    }
}




/*

.divider
{
    &::after
    {
        content:        '';

        display:        block;
        position:       absolute;

        left:           0;

        width:          calc( 100% + 3rem );
        height:         0.1rem;

        background:     color( var( --GS-2 ) a( 20% ) );
    }
}
*/
