@import "../proto/definitions/variables.css";
@import "../proto/definitions/_fonts.css";


:root
{
    --tooltipBorderRadius:  2px;

    --tooltipMaxWidth:      240px;
    --tooltipMaxHeight:     240px;

    --tooltipOffset:        var( --spacing-1 );
}


.default
{
    position:   relative;
    display:    inline-block;
    max-width:  100%;

    .content
    {
        display:        flex;
        flex-direction: column;
    }

    .tooltipContainer
    {
        visibility: hidden;
        position:   absolute;
    }

    .tooltip
    {
        visibility:     visible;

        display:        flex;
        align-items:    center;

        position:       absolute;

        box-sizing:     border-box;
        max-width:      var( --tooltipMaxWidth );
        max-height:     var( --tooltipMaxHeight );

        border-radius:  var( --tooltipBorderRadius );
        box-shadow:     var( --boxShadow );
        padding:        var( --spacing-1 ) var( --spacing-2 );

        background:     var( --PC-GREY--D15 );

        &::before
        {
            content:    "";
            position:   absolute;
        }
    }

    .message
    {
        @extend %Nessie-SemiBold;
        color:          var( --PC-WHITE );
        overflow-wrap:  break-word;

        a:any-link
        {
            color:              inherit !important;
            text-decoration:    underline;
        }
    }

    .close
    {
        flex:           0 0 auto;
        align-self:     flex-start;
        margin-left:    var( --spacing-1 );
    }
}


.position__top,
.position__bottom,
.position__topLeft,
.position__topRight,
.position__bottomLeft,
.position__bottomRight
{
    .tooltip::before
    {
        left:   0;
        right:  0;
        height: var( --tooltipOffset );
    }
}

.position__top,
.position__topLeft,
.position__topRight
{
    .tooltipContainer
    {
        top:    0;
    }

    .tooltip
    {
        bottom: 0;

        &::before
        {
            top:    100%;
        }
    }
}

.position__bottom,
.position__bottomLeft,
.position__bottomRight
{
    .tooltipContainer
    {
        bottom: 0;
    }

    .tooltip
    {
        top:    0;

        &::before
        {
            bottom: 100%;
        }
    }
}

.position__top,
.position__bottom
{
    .tooltipContainer
    {
        left:   50%;
        width:  calc( var( --tooltipMaxWidth ) * 2 );
        height: var( --tooltipMaxHeight );
    }

    .tooltip
    {
        left:   50%;
    }
}

.position__top
{
    .tooltipContainer
    {
        transform:  translate3d( -50%, -100%, 0 );
    }

    .tooltip
    {
        transform:  translate3d( -50%, calc( -1 * var( --tooltipOffset ) ), 0 );
    }
}

.position__bottom
{
    .tooltipContainer
    {
        transform:  translate3d( -50%, 100%, 0 );
    }

    .tooltip
    {
        transform:  translate3d( -50%, var( --tooltipOffset ), 0 );
    }
}

.position__topLeft,
.position__topRight,
.position__bottomLeft,
.position__bottomRight
{
    .tooltipContainer
    {
        width:      var( --tooltipMaxWidth );
        height:     var( --tooltipMaxHeight );
    }
}

.position__topLeft,
.position__bottomLeft
{
    .tooltipContainer
    {
        right:  0;
    }

    .tooltip
    {
        right:  0;
    }
}

.position__topRight,
.position__bottomRight
{
    .tooltipContainer
    {
        left:   0;
    }

    .tooltip
    {
        left:   0;
    }
}

.position__topLeft,
.position__topRight
{
    .tooltipContainer
    {
        transform:  translateY( -100% );
    }

    .tooltip
    {
        transform:  translateY( calc( -1 * var( --tooltipOffset ) ) );
    }
}

.position__bottomLeft,
.position__bottomRight
{
    .tooltipContainer
    {
        transform:  translateY( 100% );
    }

    .tooltip
    {
        transform:  translateY( var( --tooltipOffset ) );
    }
}

.position__left,
.position__right
{
    .tooltipContainer
    {
        top:    50%;
        width:  var( --tooltipMaxWidth );
        height: calc( 2 * var( --tooltipMaxHeight ) );
    }

    .tooltip
    {
        top:    50%;

        &::before
        {
            top:    0;
            bottom: 0;
            width:  var( --tooltipOffset );
        }
    }
}

.position__left
{
    .tooltipContainer
    {
        left:       0;
        transform:  translate3d( -100%, -50%, 0 );
    }

    .tooltip
    {
        right:      0;
        transform:  translate3d( calc( -1 * var( --tooltipOffset ) ), -50%, 0 );

        &::before
        {
            left:   100%;
        }
    }
}

.position__right
{
    .tooltipContainer
    {
        right:      0;
        transform:  translate3d( 100%, -50%, 0 );
    }

    .tooltip
    {
        left:       0;
        transform:  translate3d( var( --tooltipOffset ), -50%, 0 );

        &::before
        {
            right:  100%;
        }
    }
}


.role__critical
{
    .tooltip
    {
        background: var( --PC-RED );
    }
}

.role__promoted
{
    .tooltip
    {
        background: var( --PC-GREEN );
    }
}

.role__warning
{
    .tooltip
    {
        background: var( --PC-ORANGE );
    }
}
