@import '../proto/definitions/variables.css';

.default
{
    display:            flex;
    justify-content:    center;
    align-items:        center;
    position:           relative;

    font-size:          var( --typo-m );
    line-height:        var( --line-height-m );
    text-align:         center;
    color:              color( var( --GS-2 ) tint( 50% ) );

    width:              12rem;
    margin-right:       auto;
    margin-bottom:      0;

    padding-top:        0.8rem;
    padding-bottom:     0.6rem;

    border-width:       0.1rem;
    border-style:       solid;
    border-color:       color( var( --GS-2 ) tint( 50% ) );
    border-radius:      2rem;
    box-sizing:         border-box;

    &:hover,
    &.fakeHovered
    {
        border-color:   var( --PC-BLUE );
    }

    .hour,
    .min
    {
        padding:        0;
        border:         0;
        width:          3rem;
        text-align:     center;

        font:           inherit;
        line-height:    inherit;

        &:fakeHovered,
        &:hover,
        &:focus
        {
            color:  var( --GS-2 );
        }

        &:focus
        {
            outline:    none;
        }

        &::placeholder
        {
            font:           inherit;
            line-height:    inherit;
        }
    }

    span
    {
        user-select:    none;
    }
}
