@import "../proto/base.css";
@import "../proto/definitions/_colors.css";

.default
{
    margin-bottom:   0;

    box-shadow:      0 0.1rem 0.4rem 0 var( --GS-8 );
}

.disabled
{
    .headerButton
    {
        cursor:         default;
        pointer-events: none;
    }

    .text
    {
        color:          var( --PC-GREY );
    }

    .icon
    {
        fill:           var( --PC-GREY );
        color:          var( --PC-GREY );
    }
}

.error
{

}

.open
{
    .headerButton
    {
        background:  var( --GS-11 );
    }
}

.headerButton
{
    appearance:      none !important;

    position:        relative;
    display:         flex;
    flex-direction:  row;
    justify-content: flex-start;
    align-items:     center;

    width:           100%;

    border:          none;

    padding:         3rem;

    transition:      background-color 200ms ease-in-out;

    &:hover
    {
        background:  var( --GS-11 );
        cursor:      pointer;
    }

    &:focus
    {
        .icon
        {
            fill:    var( --GS-2 );
            color:   var( --GS-2 );
        }
    }
}

.text
{
    margin-bottom:   0 !important;

    text-align:      left;
    color:           var( --GS-2 );
}

.icon
{
    fill:            var( --GS-2 );
    color:           var( --GS-2 );
}
