@import "../proto/base.css";
@import "../proto/definitions/_colors.css";

.default
{
    .container
    {
        display:        flex;
        flex-direction: row;
        align-items:    center;

        margin:     0;

        & > *
        {
            margin: 0;
        }
    }

    .input
    {
        flex:       1 1 auto;
        min-width:  0;
    }
}

.icon
{
    position:   absolute;
    top:        50%;
    transform:  translateY( -50% );
}

.position__left
{
    .input
    {
        padding-left:    3.6rem
    }

    .icon
    {
        left:   1.1rem;
    }
}

.position__right
{
    .input
    {
        padding-right:    3.6rem
    }

    .icon
    {
        right:   1.1rem;
    }
}
