@import "../proto/base.css";

.default
{

}

.container
{
    display:        flex;
    flex-direction: row;
    align-items:    center;

    .input
    {
        flex:           1 1 auto;
        min-width:      0;
        margin-bottom:  0;
    }
}

.icon
{
    position:   absolute;
    top:        50%;
    transform:  translateY( -50% );
}

.position__left
{
    .input
    {
        padding-left:    36px;
    }

    .icon
    {
        left:   11px;
    }
}

.position__right
{
    .input
    {
        padding-right:    36px;
    }

    .icon
    {
        right:   11px;
    }
}
