@import "../proto/definitions/_colors.css";
@import "../proto/definitions/_fonts.css";

$overlaySize:           calc( 100% + 1rem );
$borderWidth:           0.3rem;
$overlayShift:          -0.8rem;

.default
{
}

.dropzoneIsVisible
{
    .content
    {
        opacity:    0.2;
    }
}






.dropzoneContentContainer
{
    display:                flex;

    flex-direction:         column;
    align-items:            center;
    justify-content:        center;

    position:               absolute;

    /* margin-top:                    $overlayShift; */
    margin-left:                   $overlayShift;

    height:                 $overlaySize;
    min-height:             8rem;
    width:                  calc( 100% - 2rem );;

    z-index:                999;

    border:                 $borderWidth dashed var( --PC-BLUE );
    border-radius:          0.5rem;

    background:             color( var( --PC-WHITE ) a( 50% ) );

    pointer-events:         none;
    /* margin-left:           3rem; */

    top:                    50%;
    transform:              translateY(-50%);


}

.message
{
    width:          100%;

    color:          color( var( --PC-BLUE ) a( 70%) );

    font-size:      2.4rem;
    line-height:    2.8rem;
    @extend %Nessie-Bold;

    text-align:     center;

    &::before
    {
        content:                '';
        display:                block;

        width:                  100%;
        height:                 4rem;

        margin-bottom:          0.6rem;

        background-image:       url(./svg/upload__hover.svg);
        background-position:    center;
        background-repeat:      no-repeat;

        opacity:                0.7;
    }
}

.spinner
{
    border-color:   color( var( --PC-BLUE ) a( 25% ) );

    &::after
    {
        border-top-color:   var( --PC-BLUE );
    }
}
