@import "../proto/base.css";

.default
{
    position:       relative;
}

.header
{
    display:        flex;
    flex-direction: row;
    align-items:    flex-end;

    /* border-bottom:  solid 1px var( --PC-GREY--L70 ); */

    margin-bottom:	0;
}

.tabs
{
    display:        flex;
    flex-direction: row;
    flex-grow:      1;

    border-bottom:  solid 1px var( --PC-GREY--L70 );

    margin-bottom:  -1px;
}

.secondaryControls
{
    margin-bottom: var( --spacing-2 );
}

.content
{
    /* padding? */
}
