@import "../proto/base.css";
@import "../proto/definitions/_colors.css";

.default
{
    position:       relative;
}

.header
{
    display:            flex;
    flex-direction:     row;

    border-bottom:      solid 1px var( --PC-GREY--L40 );

    margin-bottom:		var( --spacing-2 );
}

.content
{
    /* padding? */
}
