@import '../proto/definitions/variables.css';

:root
{
    --iconSize: 2.4rem;
}

.default
{
    display:        flex;
    align-items:    center;

    position:       relative;

    max-width:      100%;

    font:           inherit;
    line-height:    inherit;

    margin-bottom:  var( --spacing-2 );

    &:last-child
    {
        margin-bottom:  0;
    }

    .content
    {
        flex:                1 1 auto;
        max-width:           100%;
        min-width:           0;
    }

    .iconWithTooltip
    {
        display:            none;
        flex:               0 0 auto;
    }

}

.iconVisible
{
    & > .iconWithTooltip
    {
        display:    block;
    }

    &.position__right,
    &.position__left
    {
        justify-content:    flex-start;

        & > .content
        {
            flex:           0 1 auto;
            max-width:      100%;
        }

        & > .content + .iconWithTooltip
        {
            position:       relative;
            margin-top:     -50%;
            margin-bottom:  -50%;
        }
    }

    &.position__left
    {
        flex-direction:     row-reverse;
        justify-content:    flex-end;

        & > .content
        {
            margin-left:    var( --spacing-1 ) ;
        }
    }

    &.position__right
    {
        & > .content
        {
            margin-right:   var( --spacing-1 ) ;
        }
    }

    &.position__topRight,
    &.position__topLeft
    {
        & > .iconWithTooltip
        {
            position:   absolute;
            top:        50%;
            margin-top: calc( -1 * ( var( --iconSize ) / 2 ) );
        }
    }

    &.position__topRight
    {
        & > .iconWithTooltip
        {
            right:  var( --spacing-1 );
        }
    }

    &.position__topLeft
    {
        & > .iconWithTooltip
        {
            left:   var( --spacing-1 );
        }
    }
}
