 @import "../proto/definitions/variables.css";

:root
{
    --iconSpacing:  10px;
}

.default
{
    display:        flex;
    align-items:    center;

    position:       relative;

    max-width:      100%;

    font:           inherit;
    line-height:    inherit;

    margin-bottom:  20px;

    &:last-child
    {
        margin-bottom:  0;
    }
}

.iconVisible
{
    & > .iconWithTooltip
    {
        display:    block;
    }

    &.position__right,
    &.position__left
    {
        justify-content:    flex-start;

        & > .content
        {
            flex:           0 1 auto;
            max-width:      100%;
        }

        & > .content + .iconWithTooltip
        {
            position:       relative;
            margin-top:     -50%;
            margin-bottom:  -50%;
        }
    }

    &.position__left
    {
        flex-direction:     row-reverse;
        justify-content:    flex-end;

        & > .content
        {
            margin-left:    var( --iconSpacing );
        }
    }

    &.position__right
    {
        & > .content
        {
            margin-right:   var( --iconSpacing );
        }
    }

    &.position__topRight,
    &.position__topLeft
    {
        & > .iconWithTooltip
        {
            position:   absolute;
            top:        calc( -var( --spacing-4 ) / 2 );
        }
    }

    &.position__topRight
    {
        & > .iconWithTooltip
        {
            right:  calc( -var( --spacing-4 ) / 2 );
        }
    }

    &.position__topLeft
    {
        & > .iconWithTooltip
        {
            left:   calc( -var( --spacing-4 ) / 2 );
        }
    }
}






.content
{
    flex:                1 1 auto;
    max-width:           100%;
    min-width:           0;
}

.iconWithTooltip
{
    display:            none;
    flex:               0 0 auto;
}
