@import "../../proto/definitions/variables.css";

.default
{
    position:   relative;

    .dropdown
    {
        position:   absolute;
        left:       0;
        z-index:    999;
    }

    &:not( .open )
    {
        .dropdown
        {
            display:    none;
        }
    }

    & > *
    {
        margin-bottom:  0;
    }
}


.position__bottom
{
    .dropdown
    {
        bottom:     0;
        transform:  translateY( 100% ) translateY( var( --spacing-1) );
    }
}

.position__top
{
    .dropdown
    {
        top:        0;
        transform:  translateY( -100% ) translateY( calc( -1 * var( --spacing-1) ) );
    }
}
