@import "../proto/base.css";

.default
{
    display:            flex;
    justify-content:    center;
    align-items:        center;

    padding:            var( --spacing-2 );

    background:         var( --PC-BLUE );

    .message,
    .info,
    .close
    {
        margin-bottom:  0;
    }

    .info
    {
        margin-right:   var( --spacing-2 );
    }

    .info
    {
        margin-right:   20px;
    }

    .close
    {
        position:   absolute;
        right:      var( --spacing-2 );
    }
}

.top
{
    position:   fixed;
    top:        0;
    left:       0;
    z-index:    1000;
}

.type__error
{
    background: var( --PC-RED );
}

.type__alert
{
    background: var( --PC-YELLOW );
}

.type__success
{
    background: var(  --PC-GREEN );
}

.message
{
    color: var( --PC-WHITE );
}

.info
{
    fill: var( --PC-WHITE ) !important;
}
