@import "../proto/base.css";
@import "../proto/definitions/_colors.css";

.default
{
    .scrollBox
    {
        --ScrollBarWidth:   0;
        --ScrollBarHeight:  0;
        --ScrollBarMarginX: 0;
        --ScrollBarMarginY: 0;
        overflow:           hidden;
    }

    .content
    {

    }

    .inner
    {
        overflow          : scroll;
        width             : calc( 100% + var( --ScrollBarWidth ) );
        max-height        : calc( 100% + var( --ScrollBarHeight ) );
        margin-bottom     : var( --ScrollBarMarginX );
        margin-right      : var( --ScrollBarMarginY );
    }

    .icon__down,
    .icon__left,
    .icon__right,
    .icon__up
    {
        position:         absolute;
        z-index:          10;
        background-color: var( --PC-WHITE );
        border-radius:    2rem;
        opacity:          0.8;

        svg
        {
            fill:         var( --PC-BLUE );
        }
    }

    .icon__down
    {
        bottom: 1rem;
        left:   calc( 50% - 1.6rem );
    }

    .icon__left
    {
        top:    calc( 50% - 1.6rem );
        left:   1rem;
    }

    .icon__right
    {
        top:    calc( 50% - 1.6rem );
        right:  1rem;
    }

    .icon__up
    {
        top:    1rem;
        left:   calc( 50% - 1.6rem );
    }
}

.scroll__horizontal
{
    .scrollBox
    {
        overflow-y:             hidden;
        overscroll-behavior-x:  contain;
    }

}
.scroll__vertical
{
    .scrollBox
    {
        overflow-x:             hidden;
        overscroll-behavior-y:  contain;
    }
}

.scrollBar
{
    margin-bottom: 0;
    right: 0;
    left: auto;
    input[type=range]
    {
        margin: 0;
    }
}
