@import "../proto/base.css";

.default
{
    .scrollBox
    {
        overflow:               auto;
        overscroll-behavior-y:  contain;
    }
}

.scroll__horizontal
{
    .scrollBox
    {
        overflow-y: hidden;
    }

}

.scroll__vertical
{
    .scrollBox
    {
        overflow-x: hidden;
    }
}

.content
{

}

.icon__down,
.icon__left,
.icon__right,
.icon__up
{
    position:         absolute;
    z-index:          10;
    background-color: var( --PC-BLUE );
    border-radius:    20px;
    opacity:          0.4;
    width:            32px;
    height:           32px;


    svg
    {
        fill:         var( --PC-WHITE ) ;

        &:hover,
        &:focus
        {
            fill:     var( --PC-WHITE );
        }
    }

    &:hover
    {
        opacity:      1;
    }
}

.icon__down
{
    bottom: 10px;
    left:   calc( 50% - 16px );
}

.icon__left
{
    top:    calc( 50% - 16px );
    left:   10px;
}

.icon__right
{
    top:    calc( 50% - 16px );
    right:  10px;
}

.icon__up
{
    top:    10px;
    left:   calc( 50% - 16px );
}
