@import "../proto/base.css";

.default
{
    overflow:   hidden;

    .content
    {

    }

    .inner
    {
        width:      100%;
        height:     100%;
        overflow:   scroll;

        &::-webkit-scrollbar
        {
            display:    none;
        }
    }

    .iconDown,
    .iconLeft,
    .iconRight,
    .iconUp
    {
        position:       absolute;
        border-radius:  50%;
        padding:        var( --spacing-1 );
        background:     var( --PC-BLUE );
        opacity:        0.4;

        &:hover,
        &:focus
        {
            opacity:    1;
        }

        svg
        {
            fill:   var( --PC-WHITE );
        }
    }

    .iconDown
    {
        bottom:     var( --spacing-1 );
        left:       calc( 50% );
        transform:  translateX( -50% );
    }
    .iconLeft
    {
        top:        calc( 50% );
        left:       var( --spacing-1 );
        transform:  translateY( -50% );
    }
    .iconRight
    {
        top:        calc( 50% );
        right:      var( --spacing-1 );
        transform:  translateY( -50% );
    }
    .iconUp
    {
        top:        var( --spacing-1 );
        left:       calc( 50% );
        transform:  translateX( -50% );
    }

    .scrollBarHorizontal
    {
        position:   absolute;
        bottom:     0;
        left:       0;
    }

    .scrollBarVertical
    {
        position:   absolute;
        top:        0;
        right:      0;
    }
}


.scroll__horizontal
{
    .inner
    {
        overflow-x:             scroll;
        overflow-y:             hidden;
        overscroll-behavior-x:  contain;
    }

}
.scroll__vertical
{
    .inner
    {
        overflow-x:             hidden;
        overflow-y:             scroll;
        overscroll-behavior-y:  contain;
    }
}
