@import "../proto/base.css";

.default
{
    display:            flex;
    justify-content:    center;
    align-content:      center;

    padding:            var( --spacing-2 );

    .text
    {
        color: var( --PC-WHITE );
    }
}

.type__info
{
    background: var( --PC-GREY--L10 );
}

.type__error
{
    background: var( --PC-RED );
}

.type__alert
{
    background: var( --PC-YELLOW );
}

.type__success
{
    background: var(  --PC-GREEN );
}
