@import "../proto/base.css";
@import "../proto/definitions/_colors.css";

.default
{
    display:            flex;
    justify-content:    center;
    align-content:      center;
    background-color:   var( --PC-WHITE );

    padding:            2rem;
    border:             0.1rem solid var( ---GS-5 ) ;
}

.type__error
{
    border-color:   var( --PC-RED );
}

.type__alert
{
    border-color:   var( --PC-YELLOW );
}

.type__success
{
    border-color:   var(  --PC-GREEN );
}
