@import "../proto/base.css";

:root
{
    --S:    1rem;
    --M:    2rem;
    --L:    3rem;
}

.default
{
    display:        flex;
    flex-direction: column;
    align-items:    stretch;

    width:          auto;
    max-width:      none;

    margin-bottom:  0;

    /*& > *
    {
        flex:       0 0 100%;
        box-sizing: border-box;
    }*/
}

/*
@media( min-width: 768px )
{ */
    .default
    {
        flex-direction: row;

        /*& > *
        {
            flex:   1 0 0%;
        }*/
    }

    .alignX__left,
    .alignX__center,
    .alignX__right
    {
        & > * /* Columns */
        {
            flex:   0 0 auto;
        }
    }

    .alignX__left
    {
        justify-content:    flex-start;
    }

    .alignX__center
    {
        justify-content:    center;
    }

    .alignX__right
    {
        justify-content:    flex-end;
    }

    .alignY__top
    {
        align-items:    flex-start;
    }

    .alignY__middle
    {
        align-items:    center;
    }

    .alignY__bottom
    {
        align-items:    flex-end;
    }

    .wrap
    {
        flex-wrap:  wrap;
    }
/* } */


.gutters__S
{
    margin-left:    calc( -1 * ( var( --S ) / 2 ) );
    margin-right:   calc( -1 * ( var( --S ) / 2 ) );

    & > * /* Columns */
    {
        padding-left:   calc( var( --S ) / 2 );
        padding-right:  calc( var( --S ) / 2 );
    }
}
.gutters__M
{
    margin-left:    calc( -1 * ( var( --M ) / 2 ) );
    margin-right:   calc( -1 * ( var( --M ) / 2 ) );

    & > * /* Columns */
    {
        padding-left:   calc( var( --M ) / 2 );
        padding-right:  calc( var( --M ) / 2 );
    }
}
.gutters__L
{
    margin-left:    calc( -1 * ( var( --L ) / 2 ) );
    margin-right:   calc( -1 * ( var( --L ) / 2 ) );

    & > * /* Columns */
    {
        padding-left:   calc( var( --L ) / 2 );
        padding-right:  calc( var( --L ) / 2 );
    }
}


.spacing__S
{
    & > * /* Columns */
    {
        /* these paddings will be used by TableCells (yeah, this is ugly) */
        padding-top:    calc( var( --S ) / 2 );
        padding-bottom: calc( var( --S ) / 2 );

        /* override those paddings when *not* a TableCell... */
        margin-top:     calc( -1 * ( var( --S ) / 2 ) );
        margin-bottom:  calc( var( --S ) / 2 );
    }

    &:last-child
    {
        margin-bottom:  calc( -1 * var( --S ) );
    }
}
.spacing__M
{
    & > * /* Columns */
    {
        /* these paddings will be used by TableCells (yeah, this is ugly) */
        padding-top:    calc( var( --M ) / 2 );
        padding-bottom: calc( var( --M ) / 2 );

        /* override those paddings when *not* a TableCell... */
        margin-top:     calc( -1 * ( var( --M ) / 2 ) );
        margin-bottom:  calc( var( --M ) / 2 );
    }

    &:last-child
    {
        margin-bottom:  calc( -1 * var( --M ) );
    }
}
.spacing__L
{
    & > * /* Columns */
    {
        /* these paddings will be used by TableCells (yeah, this is ugly) */
        padding-top:    calc( var( --L ) / 2 );
        padding-bottom: calc( var( --L ) / 2 );

        /* override those paddings when *not* a TableCell... */
        margin-top:     calc( -1 * ( var( --L ) / 2 ) );
        margin-bottom:  calc( var( --L ) / 2 );
    }

    &:last-child
    {
        margin-bottom:  calc( -1 * var( --L ) );
    }
}

/* legacy spacing options (deprecated) */
.spacing__default,
.spacing__h3,
.spacing__h4
{
    & > *
    {
        padding-top:    calc( 2rem / 2 );
        padding-bottom: calc( 2rem / 2 );

        margin-top:     calc( -1 * ( 2rem / 2 ) );
        margin-bottom:  calc( 2rem / 2 );
    }

    &:last-child
    {
        margin-bottom:  calc( -2rem );
    }
}
.spacing__label
{
    & > *
    {
        padding-top:    calc( 1rem / 2 );
        padding-bottom: calc( 1rem / 2 );

        margin-top:     calc( -1 * ( 1rem / 2 ) );
        margin-bottom:  calc( 1rem / 2 );
    }

    &:last-child
    {
        margin-bottom:  calc( -1rem );
    }
}
.spacing__h1
{
    & > *
    {
        padding-top:    calc( 7rem / 2 );
        padding-bottom: calc( 7rem / 2 );

        margin-top:     calc( -1 * ( 7rem / 2 ) );
        margin-bottom:  calc( 7rem / 2 );
    }

    &:last-child
    {
        margin-bottom:  calc( -7rem );
    }
}
.spacing__h2
{
    & > *
    {
        padding-top:    calc( 5rem / 2 );
        padding-bottom: calc( 5rem / 2 );

        margin-top:     calc( -1 * ( 5rem / 2 ) );
        margin-bottom:  calc( 5rem / 2 );
    }

    &:last-child
    {
        margin-bottom:  calc( -5rem );
    }
}


.wrap
{
    flex-wrap:  wrap;
}

.hasMinHeight
{
    min-height: 7.7rem; /* label + input */
}
