.default
{

}

/*
* FADE
*/

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

.fadeIn
{
    animation: fadeIn 1000ms;
}

@keyframes fadeOut
{
    from
    {
        opacity: 1;
    }

    to
    {
        opacity: 0;
    }
}

.fadeOut
{
    animation: fadeOut 1000ms;
}

/*
* SLIDE
*/

@keyframes slideInDown {
    from
    {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to
    {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown
{
    animation: slideInDown 1000ms;
}

@keyframes slideInLeft
{
    from
    {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft
{
    animation: slideInLeft 1000ms;
}

@keyframes slideInRight {
    from
    {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to
    {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight
{
    animation: slideInRight 1000ms;
}

@keyframes slideInUp
{
    from
    {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp
{
    animation: slideInUp 1000ms;
}

@keyframes slideOutDown
{
    from
    {
        transform: translate3d(0, 0, 0);
    }

    to
    {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

.slideOutDown
{
    animation: slideOutDown 1000ms;
}

@keyframes slideOutLeft
{
    from
    {
        transform: translate3d(0, 0, 0);
    }

    to
    {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}

.slideOutLeft
{
    animation: slideOutLeft 1000ms;
}

@keyframes slideOutRight
{
    from
    {
        transform: translate3d(0, 0, 0);
    }

    to
    {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}

.slideOutRight
{
    animation: slideOutRight 1000ms;
}

@keyframes slideOutUp
{
    from
    {
        transform: translate3d(0, 0, 0);
    }

    to
    {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}

.slideOutUp
{
    animation: slideOutUp 1000ms;
}
