@import '../proto/definitions/variables.css';

.default
{
    display:        flex;
    align-items:    center;
    margin:         0;

    padding-left:           var( --spacing-2 );
    padding-right:          var( --spacing-2 );
    padding-top:            var( --spacing-1 );
    padding-bottom:         var( --spacing-1 );

    cursor:     pointer;

    &:hover,
    &:hover .optionText,
    &:hover .description
    {
        background-color:   var( --PC-BLUE );
        color:              var( --PC-WHITE );
    }

    .icon
    {
        flex:           0 0 auto;
        margin-right:   1rem;
    }

    &:hover .icon{
        fill:           var( --PC-WHITE );
    }

    .textContainer
    {
        flex:           1 0 0%;
        min-width:      0;
    }

    &.disabled,
    &.disabled .optionText,
    &.error .disabled
    {
        pointer-events:             none;
        cursor:                     auto;
        color:                      var( --PC-GREY--L40 );

        .description
        {
            color:                  var( --PC-GREY--L55 );
        }
    }
}

.default,
.optionText
{
    color:                  var( --PC-GREY );
    line-height:            var( --line-height-m );
    font-size:              var( --typo-3 );
}

.selected
{
    background-color:   color( var( --PC-BLUE ) a( 10% ) );
}

.active,
.default:hover
{

}


.withDescription
{
    .optionText
    {
        font-size:      var( --typo-5 );
        line-height:    var( --line-height-m );
        color:          var( --PC-BLUE );

        margin:         0;
    }

    .optionText[class*=disabled]
    {
        color:          var( --PC-GREY--L40 );
    }

    .optionText[class*=selectedDisplayed]
    {

        font-size:      var( --typo-3 );
        line-height:    var( --line-height-s );
        color:          var( --PC-GREY--D5 );
    }

    .description
    {

    }
}
