@import '../proto/definitions/variables.css';

.default
{
    display:    block;
    margin:     0;
    padding:    0;

    .header
    {
        margin:     0;
        padding:    0.7rem 1rem 0.5rem 1rem;
        cursor:     default;
    }

    .headerText
    {
        @extend %Nessie-RegularIt;

        font-size:      var( --typo-3 );
        line-height:    var( --line-height-m );
        color:          var( --PC-GREY--D25 );
    }

    .options
    {
        display:    block;
        margin:     0;
        padding:    0;
    }
}
