@import '../proto/definitions/variables.css';

.default
{
    display:            flex;
    align-items:        center;

    margin:             0;
    padding:            var( --spacing-1 ) var( --spacing-2 );

    cursor:             pointer;

    .icon
    {
        flex:           0 0 auto;
        margin-right:   var( --spacing-2 );
    }

    .textContainer
    {
        flex:           1 0 0%;
        min-width:      0;
    }

    .optionText
    {
        margin:         0;
        color:          var( --PC-GREY );
    }

    &:hover,
    &.active
    {
        background:     var( --PC-BLUE );

        .optionText,
        .description
        {
            color:      var( --PC-WHITE );
        }
    }
}

.withDescription
{
    .optionText
    {
        font-size:      var( --typo-5 );
        line-height:    var( --line-height-m );
        color:          var( --PC-BLUE );
    }
}

.selected
{
    background:         color( var( --PC-BLUE ) a( 10% ) );
}

.disabled
{
    pointer-events:     none;
    cursor:             auto;

    .optionText
    {
        color:          var( --PC-GREY--L70 );
    }

    &.withDescription .optionText,
    .description
    {
        color:          var( --PC-GREY--L40 );
    }
}
