@import '../proto/definitions/_fonts.css';

.default
{
    display:    block;
    margin:     0;
    padding:    0;

    .title
    {
        padding:    1rem;
        cursor:     default;
    }

    .titleText
    {
        @extend %Nessie-Bold;
    }

    .options
    {
        display:    block;
        margin:     0;
        padding:    0;
    }
}
