@import "../proto/definitions/variables.css";

$shark: 768px;

.default
{

}


.header /* required until we have a TableHeader text component */
{
    display:    flex;

    @extend %Nessie-SemiBold;
    font-size:          var( --typo-2 );
    line-height:        var( --line-height-m );
    letter-spacing:     0.5px;
    text-transform:     uppercase;
    text-decoration:    none;
    color:              var( --PC-GREY--D25 );
    cursor:             text;
}

.rowHeader
{
    z-index:            1;
}

.sticky
{
    position:   sticky;
    left:       0;
    background: var( --PC-WHITE );
    z-index:    1;
}
