@import "../proto/definitions/_fonts.css";
@import "../proto/definitions/_colors.css";

$shark: 768px;

.default
{
    padding-top:    1rem;
    padding-bottom: 1rem;
    padding-left:   0.5rem;

    background-color:     var( --PC-WHITE );
    /*flex-direction: row;*/

    &::before
    {
        content:        attr( data-column-title );

        position:       relative;

        flex:           0 0 calc( 1 / 3 * 100% );

        font-family:    Nessie-Bold;
        top:            0.5rem;
        margin-top:     -0.8rem;

        font-size:      1.2rem;
        line-height:    1.6rem;

        overflow:       hidden;
        text-overflow:  ellipsis;
    }

    /*@media( min-width: $shark )
    {*/
        flex-direction: column;

        &::before
        {
            display:    none;
        }
    /*}*/

    /*@media( min-width: $shark )
    {*/
        &:first-child
        {
            padding-left: 0;
        }
    /*}*/
}

.header /* required until we have a TableHeader text component */
{
    display:        none;

    top: 			0.5rem;
	margin-top: 	-0.8rem !important;

    @extend %Nessie-Bold;

    /*@media( min-width: $shark )
    {*/
        display:    flex;
    /*}*/
}

.rowHeader
{
    @extend %Nessie-Bold;
    z-index:            1;
}

.data
{
    &:first-child
    {
        padding-left:       0.5rem;
    }

    &:last-child
    {
        padding-right:      0.5rem;
    }

    &.header
    {
        @extend %Nessie-Bold;
    }
}

.sticky
{
    position:    sticky;
    left:        0;
    z-index:     1;
}
