@import "../proto/base.css";

.default
{
    width:              auto;

    padding:            6px 20px;

    border:             2px solid var( --PC-GREY--L10 );
    border-radius:      16px;

    color:              var( --PC-GREY--L10 );

    @extend %Nessie-SemiBold;

    font-size:          var( --typo-2 );
    line-height:        var( --line-height-s );
    letter-spacing:     0.4px;

    text-transform:     uppercase;
    text-align:         center;

    overflow:           hidden;
    text-overflow:      ellipsis;
}

.status__active
{
    color:              var( --PC-GREEN );
    border-color:       var( --PC-GREEN );
}

.status__alert
{
    color:              var( --PC-YELLOW );
    border-color:       var( --PC-YELLOW );
}
