@import "../proto/base.css";

.default
{
    display:            flex;
    justify-content:    center;
    align-items:        center;

    width:              auto;
    height:             var( --spacing-3 );

    padding:            0 var( --spacing-1 );

    border-radius:      calc( var( --spacing-3 ) / 2 );

    @extend %Nessie-Bold;

    font-size:          var( --typo-3 );
    line-height:        var( --line-height-s );
    text-align:         center;

    overflow:           hidden;
    text-overflow:      ellipsis;
}

.status__active,
.status__promoted
{
    color:              var( --PC-GREEN );
    background-color:   var( --PC-GREEN--L70 );
}

.status__alert
{
    color:              var( --PC-ORANGE );
    background-color:   var( --PC-ORANGE--L70 );
}

.status__critical
{
    color:              var( --PC-RED );
    background-color:   var( --PC-RED--L70 );
}

.status__deactivated
{
    color:              var( --PC-GREY );
    background-color:   var( --PC-GREY--L70 );
}
