@import "../proto/base.css";

.default
{
    width:              auto;

    padding:            8px 20px;

    border-radius:      16px;

    @extend %Nessie-SemiBold;

    font-size:          var( --typo-2 );
    line-height:        var( --line-height-s );
    letter-spacing:     0.4px;

    text-transform:     uppercase;
    text-align:         center;

    overflow:           hidden;
    text-overflow:      ellipsis;
}

.status__active,
.status__promoted
{
    color:              var( --PC-GREEN );
    background-color:   var( --PC-GREEN--L70 );
}

.status__alert
{
    color:              var( --PC-ORANGE );
    background-color:   var( --PC-ORANGE--L70 );
}

.status__critical
{
    color:              var( --PC-RED );
    background-color:   var( --PC-RED--L70 );
}

.status__deactivated
{
    color:              var( --PC-GREY );
    background-color:   var( --PC-GREY--L70 );
}
