@import "../proto/definitions/variables.css";
$wideWidth : 900px;

:global .visualTesting .modalContainer
{
    min-width:      1px;
    min-height:     1px;
    top:            0;
    left:           0;
    position:       fixed;
    right:          0;
    bottom:         0;
}

.default
{
    position:           fixed;

    top:                0;
    bottom:             0;
    left:               0;
    right:              0;

    display:            flex;
    justify-content:    center;
    align-items:        center;

    overflow-y:         auto;

    z-index:            9999;
    background:         color( var( --PC-GREY--D45 ) a( 53% ) );
}

.type__carousel
{
    overflow-x:         auto;

    .header
    {
        box-shadow:         0 0 40px color( var( --GS-2 ) a( 10% ) );
    }
}


.wide .content
{
    width:  $wideWidth;

    .type__carousel &
    {
        width:  auto;
    }
}

.showNav
{
    &.type__carousel .navigation
    {
        display:    block;
    }
}






.content
{
    width:              500px;
    padding:            40px;
    box-sizing:         border-box;
    box-shadow:         var( --boxShadow );
    background:         var( --PC-WHITE );
    text-align:         left;
    z-index:            9999;
    border-radius:      4px;

    .type__carousel &
    {
        width:              auto;
        min-width:          200px;
        height:             auto;
        max-height:         100%;

        line-height:        0;
    }

    .type__neutral &,
    .type__crucial &,
    .type__promoted &
    {
        border-left-style:  solid;
        border-left-width:  6px;
    }


    .type__neutral &,
    {
        border-color:   var( --GS-5 );
    }

    .type__crucial &
    {
        border-color:   var( --PC-RED );
    }

    .type__promoted &
    {
        border-color:   var( --PC-GREEN );
    }
}


/*

only used in type__carousel for now

*/

.header
{
    background-color:   var( --PC-WHITE );
    padding:            34px 35px 34px 40px;
    display:            flex;
    justify-content:    space-between;
    position:           absolute;
    top:                0;
    left:               0;
    width:              100%;
    box-sizing:         border-box;

    button
    {
        justify-content: flex-end;
    }
}

.title
{
    max-width:          400px;
    position:           relative;
    top:                6px;
    flex-basis:         100%;

    @extend %Nessie-Bold;

    font-size:          18px;
    letter-spacing:     0.2px;
    line-height:        22px;
    color:              var( --GS-2 );
}

.navigation
{
    display:    none;

    button
    {
        position:   absolute;
        top:        calc( 50% - 20px );

        width:      auto;

        margin:     0;
        border:     none;
        padding:    0;

        background: transparent;

        cursor:     pointer;
        z-index:    9999;

        &:first-child
        {
            left:   150px;
        }

        &:last-child
        {
            right:  150px;
        }
    }
}
