@import "../proto/definitions/variables.css";

.default
{
    display:                block;
    background-repeat:      no-repeat;
    background-position:    center;
}

.size__S
{
    width:                  16px;
    height:                 16px;
}

.size__M
{
    width:                  24px;
    height:                 24px;
}

.size__L
{
    width:                  32px;
    height:                 32px;
}

.size__XL
{
    width:                  40px;
    height:                 40px;
}

.size__XXL
{
    width:                  48px;
    height:                 48px;
}




.theme__control
{
    fill:                       var( --GS-2 );

    &:hover,
    &.fakeHovered,
    button:focus > &
    {
        fill:                   var( --PC-BLUE );
    }
}

.theme__button
{
    fill:                       var( --PC-WHITE );
    color:                      var( --PC-WHITE );
}

.theme__light,
.theme__dark,
.theme__navigation
{
    fill:                       color( var( --GS-2 ) a( 50% ) );
}

.theme__light
{
    &:hover,
    &.fakeHovered,
    button:focus > &
    {
        fill:                   var( --PC-BLUE );
    }
}

.theme__dark
{
    &:hover,
    &.fakeHovered,
    button:focus > &
    {
        fill:                   var( --PC-WHITE );
    }
}

.theme__navigation
{
    &:hover,
    &.fakeHovered,
    button:focus > &
    {
        fill:                   var( --GS-2 );
    }
}

:not( .theme__button ).type
{
    &__alert
    {
        color:                       var( --PC-YELLOW );
    }

    &__approved
    {
        color:                       var( --PC-GREEN );
    }

    &__declined,
    &__error
    {
        color:                       var( --PC-RED );
    }

    &__ended
    {
        color:                       var( --GS-2 );
    }

    &__info
    {
        color:                       var( --GS-5 );
    }

    &__pending
    {
        color:                       var( --PC-ORANGE );
    }

    &__validation
    {
        fill:                        var( --PC-GREEN );
    }
}


.disabled:not( .theme__button )
{
    pointer-events:                 none;
    fill:                           var( --GS-7 );
    color:                          var( --GS-7 );
}


@each $icon in (account, active, add, calendar, close, deactivated, declined, delete, down, download, duplicate, edit, error, info, inspect, left, link, preview, reset, right, scheduled, search, up, upload, validation, show, hide)
{
    .type__$(icon)
    {
    }
}
