@import "../proto/definitions/variables.css";

.default
{
    display:    block;
    position:   relative;
}


.size__S
{
    width:  var( --spacing-3 );
    height: var( --spacing-3 );
}

.size__M
{
    width:  var( --spacing-4 );
    height: var( --spacing-4 );
}

.size__L
{
    width:  var( --spacing-5 );
    height: var( --spacing-5 );
}

.size__XL
{
    width:  var( --spacing-6 );
    height: var( --spacing-6 );
}


.role__default
{
    fill:   var( --PC-GREY--D25 );
}

.role__critical
{
    fill:   var( --PC-RED );
}

.role__promoted
{
    fill:   var( --PC-GREEN );
}

.role__warning
{
    fill:   var( --PC-ORANGE );
}
