@import "../proto/definitions/variables.css";

.default
{
    display:                block;
    background-repeat:      no-repeat;
    background-position:    center;
}

.size__S
{
    width:                  16px;
    height:                 16px;
}

.size__M
{
    width:                  24px;
    height:                 24px;
}

.size__L
{
    width:                  32px;
    height:                 32px;
}

.size__XL
{
    width:                  40px;
    height:                 40px;
}

.size__XXL
{
    width:                  48px;
    height:                 48px;
}




.theme__control
{
    fill:                       var( --GS-2 );

    &:hover,
    &.fakeHovered,
    button:focus > &
    {
        fill:                   var( --PC-WHITE );
    }
}

.theme__button
{
    fill:                       var( --PC-WHITE );
    color:                      var( --PC-WHITE );
}

.theme__light,
.theme__dark,
.theme__navigation
{
    fill:                       color( var( --GS-2 ) a( 50% ) );
}

.theme__light
{
    &:hover,
    &.fakeHovered,
    button:focus > &
    {
        fill:                   var( --PC-BLUE );
    }
}

.theme__dark
{
    &:hover,
    &.fakeHovered,
    button:focus > &
    {
        fill:                   var( --PC-WHITE );
    }
}

.theme__navigation
{
    &:hover,
    &.fakeHovered,
    button:focus > &
    {
        fill:                   var( --GS-2 );
    }
}

:not( .theme__button ).type
{
    &__alert
    {
        color:                      var( --PC-YELLOW );
        fill:                       var( --PC-YELLOW );
    }

    &__approved,
    &__validation
    {
        color:                      var( --PC-GREEN );
        fill:                       var( --PC-GREEN );
    }

    &__declined,
    &__error
    {
        color:                      var( --PC-RED );
        fill:                       var( --PC-RED );
    }

    &__ended
    {
        color:                      var( --PC-GREY--L10 );
        fill:                       var( --PC-GREY--L10 );
    }

    &__running
    {
        color:                      var( --PC-BLUE  );
        fill:                       var( --PC-BLUE  );
    }

    &__pending
    {
        color:                      var( --PC-ORANGE );
        fill:                       var( --PC-ORANGE );
    }
}


.disabled:not( .theme__button )
{
    pointer-events:                 none;
    fill:                           var( --GS-7 );
    color:                          var( --GS-7 );
}


@each $icon in (account, add, add-circle, alert, approved, bell, board, calendar, close-circle, close-thick, dash, dashboard, declined, delete, down, download, duplicate, edit-circle, edit, ended, error, file, graph, hide, info, inspect, left, lightbulb, link, megaphone, options, pending, preview, puzzle-piece, reset, right, search, show, star-stroke, star, swap, table, up, upload, validation)
{
    .type__$(icon)
    {
    }
}
