@import "../proto/checkable.css";

.default
{
}

.label
{
}
.label::before
{
    border-radius:      50%;
}

.input:checked + .label::after
{
    display:            block;

    background-color:   var( --PC-BLUE );
    border-radius:      50%;

    width:              12px;
    height:             12px;

    top:                6px;
    left:               4px;
}

.fakeHovered
{
}

.disabled,
.disabled:hover
{
    .input:checked + .label::after
    {
        background-color: var( --PC-BLUE--L40 );
    }
}

.error,
.error:hover
{
    .input:checked + .label::after
    {
        background-color: var( --PC-RED );
    }
}
