@import "../proto/checkable.css";

.default
{
}

.label
{
/*     line-height: 1.8rem;
 */}
.label::before
{
    border-radius:              50%;
}

.input:checked + .label::after
{
    display:                block;

    background-color:       var( --PC-BLUE );
    border-radius:          50%;

    width:                  1.2rem;
    height:                 1.2rem;

    top:                    0.9rem;
    left:                   0.4rem;
}

.fakeHovered
{
}

.disabled,
.disabled:hover
{
    .input:checked + .label::after
    {
        background-color:      var( --PC-BLUE--L40 );
    }
}

.error,
.error:hover
{
    .input:checked + .label::after
    {
        background-color:       var( --PC-RED );
    }
}
