@import "../proto/base.css";

.default
{
    display:            flex;
    align-items:        center;
    justify-content:    center;

    margin:             0;
    box-shadow:         0 0 7px 0 var( --PC-GREY--L75 );
}
