@import "../proto/global.css";

.default /* all elements get default margin-bottom of 2rem */
{
    position:       relative;
    margin-bottom:  var( --spacing-s );

    box-sizing:     border-box;
    width:          100%;
    max-width:      100%;
    min-width:      0; /* in case this is a flexbox child */

    font-size:      var( --typo-m );
    line-height:    var( --line-height-m );
    letter-spacing:	0.02rem;

    font-weight:    normal;

    white-space:    normal;
    word-break:     normal;

    &:last-child
    {
        margin-bottom:  0;
    }
}
