:root
{
    /*  TYPOGRAPHY SIZES */
    --typo-s:  1rem;
    --typo-m:  1.2rem;
    --typo-l:  1.4rem;
    --typo-xl: 1.6rem;

    --line-height-s: 1.2rem;
    --line-height-m: 1.6rem;
    --line-height-l: 2rem;


    /*  SPACING */
    --spacing-1:    0.8rem;
    --spacing-2:    1.6rem;
    --spacing-3:    2.4rem;
    --spacing-4:    3.2rem;
    --spacing-5:    4rem;
    --spacing-6:    4.8rem;
    --spacing-7:    5.6rem;
    --spacing-8:    6.4rem;
}
