:root
{
    /*  TYPOGRAPHY SIZES */
    --typo-m: 1.2rem;
    --line-height-m: 1.6rem;

    /*  SPACING */
    --spacing-xs:  0.8rem;
    --spacing-s:   1.6rem;
    --spacing-m:   2.4rem;
    --spacing-l:   3.2rem;
    --spacing-xl:  4rem;
    --spacing-xxl: 6.4rem;
}
