@import "../proto/base.css";

.default
{
    .container
    {
        display:        flex;
        flex-direction: row;

        margin:     0;

        & > *
        {
            margin: 0;
        }
    }

    .input
    {
        flex:           1 1 auto;
        min-width:      0;
    }

    .valueLabel
    {
        display:        block;
        position:       relative;

        flex:           0 0 auto;
        width:          auto;

        border:         1px solid var( --PC-GREY--L70 );
        padding:        11px 13px 11px 13px;

        background:     var( --PC-WHITE );

        font-size:      var( --typo-1 );
        color:          var( --PC-GREY--D5 );
        white-space:    nowrap;

        cursor:         pointer;

        &::before,
        &::after
        {
            content:        '';

            display:        block;
            position:       absolute;
            top:            11px;

            width:          1px;
            height:         var( --spacing-2 );

            background:     var( --PC-GREY--L70 );
        }

        &::before
        {
            left:   0;
        }

        &::after
        {
            right:  0;
        }
    }
}


.position__left
{
    .container
    {
        flex-direction:  row-reverse;
    }

    .input
    {
        padding-left:   13px;
    }

    .valueLabel
    {
        margin-right:   -1px;
        border-right:   none;

        &::before
        {
            display:    none;
        }
    }
}


.position__right
{
    .input
    {
        padding-right:   13px;
    }

    .valueLabel
    {
        margin-left:    -1px;
        border-left:    none;

        &::after
        {
            display:    none;
        }
    }
}


.fakeHovered
{
    .container
    {
        box-shadow:     0 0 0 1px var( --PC-BLUE );
    }

    .valueLabel
    {
        border-color:   var( --PC-BLUE );
    }
}


.error
{
    .container
    {
        box-shadow:     0 0 0 1px var( --PC-RED );
    }

    .valueLabel
    {
        border-color:   var( --PC-RED );
        color:          var( --PC-RED );

        &::before,
        &::after
        {
            background: var( --PC-RED );
        }
    }
}


.disabled
{
    .valueLabel
    {
        background:     var( --PC-GREY--L90 );
        border-color:   var( --PC-GREY--L70 );
        pointer-events: none;
    }
}
