@import "../proto/base.css";
@import "../proto/definitions/_colors.css";

.default
{
    font-variant-numeric:	lining-nums tabular-nums;
}

.zebra
{
    .row:nth-child(even) > .cell
    {
        background: var( --GS-10 );
    }

    .row
    {
        margin: 0;
    }
}

.dataTable
{
    .cell
    {
        padding-left:   0.5rem;
        padding-right:  0.5rem;
    }
}
