@import "../proto/base.css";
@import "../proto/definitions/_colors.css";

.default
{
    font-variant-numeric:	lining-nums tabular-nums;
}

.zebra
{
	.row:nth-child(even)
	{
	    background-color: var( --GS-10 );
	}
}


.dataTable .row
{
    margin-right:   0;
    padding-left:   0.5rem;
    padding-right:  1rem;
}
