@import "../proto/base.css";

.default
{
    position: 		relative;
    min-height:     var( --line-height-l );
    margin-bottom:  var( --spacing-4 );

    @extend %Nessie-Regular;
    font-size:      var( --typo-6 );
    line-height:    var( --line-height-l );
    color:          var( --PC-GREY--D25 );
    letter-spacing: 0.5px;
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
    color:	var( --PC-GREEN );
}

.role__critical
{
    color:	var( --PC-RED );
}
