@import "../proto/base.css";
@import "../proto/definitions/_colors.css";
@import "../proto/definitions/_fonts.css";
@import "../proto/global.css";

.default
{
	position: 		relative;
	top: 			0.5rem;

	margin-top: 	-0.6rem;

    @extend %Nessie-Bold;

    font-size:      1.6rem;
    line-height:    1.8rem;
	min-height:     1.8rem;

    text-transform: uppercase;
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
	color:	var( --PC-GREEN );
}

.role__critical
{
	color:	var( --PC-RED );
}

.spacing__S
{
    margin-bottom: var( --spacing-1 );
}

.spacing__M
{
    margin-bottom: var( --spacing-3 );
}

.spacing__L
{
    margin-bottom: var( --spacing-8 );
}
