@import "../proto/base.css";
@import "../proto/definitions/_colors.css";
@import "../proto/definitions/_fonts.css";

.default
{
	position: 		relative;
	top: 			0.5rem;

	margin-top: 	-0.6rem;
    margin-bottom:  4rem;

    @extend %Nessie-Bold;

    font-size:      1.6rem;
    line-height:    1.8rem;
	min-height:     1.8rem;

    text-transform: uppercase;
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
	color:	var( --AC-12 );
}

.role__critical
{
	color:	var( --AC-2 );
}
