@import "../proto/base.css";

.default
{
	position: 		relative;
	top: 			0.5rem;

	margin-top: 	-0.6rem;

    @extend %Nessie-Bold;

    @extend %Nessie-Bold;
    font-size:      var( --typo-6 );
    line-height:    var( --line-height-l );
    letter-spacing: 0.05rem;
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
	color:	var( --PC-GREEN );
}

.role__critical
{
	color:	var( --PC-RED );
}

.spacing__S
{
    margin-bottom: var( --spacing-1 );
}

.spacing__M
{
    margin-bottom: var( --spacing-3 );
}

.spacing__L
{
    margin-bottom: var( --spacing-8 );
}
