@import "../proto/base.css";
@import "../proto/definitions/_colors.css";
@import "../proto/global.css";

.default
{
	position: 		        relative;
    margin-top:             var( --spacing-s );
    margin-bottom:          var( --spacing-m );
    height:                 0.1rem;

    border:                 none;
    background-color:       color( var( --GS-2 ) a( 20% ) );
}
