@import "../proto/base.css";

.default
{
    min-height: 3.2rem;
    border:     0.1rem solid color( var( --GS-2 ) a( 50% ) );
    background: var( --PC-WHITE );

    &.fakeHovered,
    &:hover,
    &:focus
    {
        border-color:   var( --PC-BLUE );
    }
}

.error
{
    border-color:   var( --PC-RED ) !important;
}

.disabled
{
    background:     var( --GS-10 ) !important;
    border-color:   var( --GS-10 ) !important;
}
