@import "../proto/base.css";

.default
{
    display:            block;

    box-sizing:         border-box;
    width:              100%;

    border:             0.1rem solid var( --PC-GREY--L70 );
    border-radius:      0.2rem;

    padding-top:        1.1rem;
    padding-bottom:     1.1rem;
    padding-left:       var( --spacing-2 );
    padding-right:      var( --spacing-2 );

    background-color:   var( --PC-WHITE );

    font-size:          var( --typo-3 );
    color:              var( --PC-GREY--D5 );

    @extend %Nessie-Regular;

    /* removes clear and reveal password icons from IE */
    &::-ms-reveal
    {
        display: none;
    }

    &::-ms-clear
    {
        display: none;
    }

    &::placeholder
    {
        @extend %Nessie-RegularIt;
        color:         var( --PC-GREY--L80 );
    }

    &:focus
    {
        border-color:   var( --PC-BLUE );
        box-shadow:     0 0 0 0.1rem var( --PC-BLUE );

        outline:        none;

        &::placeholder
        {
            color: transparent !important;
        }
    }

    textarea&
    {
        resize: none;
    }
}


.fakeHovered
{
    border-color:   var( --PC-BLUE );
    box-shadow:     0 0 0 0.1rem var( --PC-BLUE );
}

.error
{
    border-color:   var( --PC-RED ) !important; /* yes, always override other states */
    box-shadow:     0 0 0 0.1rem var( --PC-RED );
    color:          var( --PC-RED ) !important; /* yes, always override other states */
}

.disabled
{
    background:     var( --PC-GREY--L90 );
    color:          var( --PC-GREY--L40 );
    border-color:   var( --PC-GREY--L70 );

    &:focus
    {
        border-color:   var( --PC-GREY--L70 );
    }
}


.align__left
{
    text-align: left;
}

.align__right
{
    text-align: right;
}

.resizable
{
    textarea&
    {
        resize: vertical;
    }
}
