@import "../proto/base.css";

.default
{
    display:		 flex;
    position:        relative;
    flex-direction:  row;
    align-items:	 center;
    width:           100%;

    & > *
    {
        margin-bottom:	   0;
        margin-right:      var( --spacing-1 );
    }

    & > :last-child
    {
        margin-right:   0;
    }

    .input
    {
        flex:   1 0 0%;
    }

    .text
    {
        flex:   0 0 auto;
    }
}
