@import "../proto/definitions/_colors.css";
@import "../proto/base.css";

.default
{
    .container
    {
        display:        flex;
        flex-direction: row;

        margin:         0;

        & > *
        {
            margin:     0;
            max-width:  100%;
        }
    }

    .input
    {
        flex:       1 1 100%;
        width:      auto;
        min-width:  0;
        z-index:    1;
    }

    .dropdown
    {
        flex:       0 0 100%;

        box-sizing: border-box;
        width:      auto;
        min-width:  30%;
        max-width:  60%;
    }

}

.position__left
{
    .container
    {
        flex-direction:  row-reverse;
    }

    .input
    {
        margin-left:    -0.1rem;
    }
}

.position__right
{
    .input
    {
        margin-right:   -0.1rem;
    }
}


.disabled
{
    &.position__right
    {
        .input
        {
            border-right:   0.1rem solid color( var( --GS-2 ) a( 20% ) );
        }
    }

    &.position__left
    {
        .input
        {
            border-left:    0.1rem solid color( var( --GS-2 ) a( 20% ) );
        }
    }
}
