@import "../proto/base.css";


:root
{
    --inputHeight:          40px;
    --inputHeightMultiTag:  48px;
    --tagHeight:            32px;
    --optionHeight:         48px;
    --borderWidth:          1px;
    --iconSize:             24px;
}


.default
{
    .main
    {
        border:             var( --borderWidth ) solid var( --PC-GREY--L70 );
        border-radius:      2px;

        letter-spacing:     0;

        &:focus
        {
            outline:    none;
        }
    }

    .main:focus,
    &.fakeHovered .main,
    .mainWrapper.open .main
    {
        border-color:   var( --PC-BLUE );
        background:     var( --PC-WHITE );
        box-shadow:     0 0 0 1px var( --PC-BLUE );
    }

    .main:focus .arrowInner,
    &.fakeHovered .main .arrowInner
    {
        background-image:   url( './images/down--blue.svg' );
    }

    .mainWrapper.open .main .arrowInner
    {
        background-image:   url( './images/up--blue.svg' );
    }

    .main.disabled
    {
        background: var( --PC-GREY--L90 );
        color:      var( --PC-GREY--L40 );

        border-color:   var( --PC-GREY--L70 );
        box-shadow:     none;

        pointer-events: none;

        .multipleSelectTag
        {
            background: var( --PC-GREY--L90 );
            color:      var( --PC-GREY--L40 );
        }

        .search
        {
            display:    none;
        }

        .optionsWrapper
        {
            display:    none;
        }

        .arrowInner
        {
            background-image:   url( './images/down--lightgrey.svg' );
        }

        .selectedDisplayed
        {
            color:          var( --PC-GREY--D5 );
            opacity:        0.5;

            &[data-value=""]
            {
                @extend %Nessie-RegularIt;

                color:  var( --PC-GREY--L40 );
            }
        }

        &.multipleTag
        {
            background:         var( --PC-WHITE );
        }
    }


    .optionsWrapper
    {
        position:       absolute;

        top:            calc( 100% + 10px );
        left:           calc( -1 * var( --borderWidth ) );

        width:          calc( 100% + ( var( --borderWidth ) * 2 ) );
        max-height:     35vh;

        padding-top:    var( --spacing-1 );
        padding-bottom: var( --spacing-1 );

        box-shadow:     var( --boxShadow );

        background:     var( --PC-WHITE );

        @extend         %Nessie-Regular;

        overflow:       auto;
        z-index:        50;
    }

    .list
    {
        /* nothing to do here */
    }

    .selectedDisplayed
    {
        display:        flex;
        align-items:    center;

        box-sizing:     border-box;
        height:         calc( var( --inputHeight ) - ( 2 * var( --borderWidth ) ) );

        padding-left:   var( --spacing-2 );
        padding-right:  calc( var( --spacing-1 ) + var( --iconSize )  + var( --spacing-1 ) );

        font-size:      var( --typo-3 );
        line-height:    var( --line-height-m );
        color:          var( --PC-GREY--D5 );

        overflow:       hidden;
        white-space:    nowrap;
        text-overflow:  ellipsis;

        cursor:         pointer;

        .description
        {
            display:    none;
        }

        &[data-value=""]
        {
            @extend %Nessie-RegularIt;

            color:  var( --PC-GREY--L70 );
        }
    }

    .multipleTag
    {
        .selectedDisplayed
        {
            position:       absolute;

            top:            0;
            left:           0;
            right:          0;

            min-height:     var( --spacing-5 );

            padding-top:    calc( ( var( --inputHeightMultiTag ) - var( --line-height-m ) ) / 2 );
            padding-bottom: calc( ( var( --inputHeightMultiTag ) - var( --line-height-m ) ) / 2 );
        }
    }

    .hidden
    {
        position:   absolute;
        left:       -999999px;
    }

    .hiddenIos
    {
        position:   absolute;
        top:        0;
        opacity:    0;
        width:      1px;
        height:     1px;
    }

    .selectedHidden,
    .searchHidden,
    .placeholder
    {
        display:            none;
    }

    .option,
    .header
    {
        min-height:     var( --line-height-m );

        margin:         0;

        padding-top:    calc( ( var( --optionHeight ) - var( --line-height-m ) ) / 2 );
        padding-bottom: calc( ( var( --optionHeight ) - var( --line-height-m ) ) / 2 );
        padding-left:   var( --spacing-2 );
        padding-right:  var( --spacing-2 );

        line-height:    var( --line-height-m );
        font-size:      var( --typo-3 );
        color:          var( --PC-GREY );
    }

    .option,
    .option.selected
    {
        cursor: pointer;

        &:hover,
        &:hover .description
        {
            background: var( --PC-BLUE );
            color:      var( --PC-WHITE );
        }

        & > span,
        & > div
        {
            pointer-events: none;
        }
    }

    .selected:not( .section )
    {
        background: color( var( --PC-BLUE ) a( 10% ) );
    }

    .option.optionWithDescription
    {
        padding-top:    var( --spacing-1 );
        padding-bottom: var( --spacing-1 );

        font-size:      var( --typo-5 );
        line-height:    var( --line-height-m );
        color:          var( --PC-BLUE );

        &:hover
        {
            color:  var( --PC-WHITE );
        }
    }

    .description
    {
        @extend         %Nessie-Regular;

        color:          var( --PC-GREY--D25 );
        line-height:    var( --line-height-m );
        font-size:      var( --typo-3 );
    }


    .option.noResults,
    .option.disabled,
    .error .option.disabled
    {
        pointer-events: none;
        cursor:         auto;
    }

    .option.noResults
    {
        @extend         %Nessie-RegularIt;
    }

    .option.disabled,
    .error .option.disabled
    {
        color:  var( --PC-GREY--L70 );
    }

    .optionWithDescription.disabled,
    .error .optionWithDescription.disabled
    {
        color:  var( --PC-GREY--L40 );

        .description
        {
            color:  var( --PC-GREY--L40 );
        }
    }

    .arrow
    {
        position:       absolute;
        top:            20px;
        right:          calc( var( --spacing-1 ) + var( --borderWidth ) );

        transform:      translateY( -50% );

        background:     transparent;
        pointer-events: none;
    }

    .arrowInner
    {
        width:              var( --spacing-3 );
        height:             var( --spacing-3 );
        background-size:    100%;
    }

    .arrowInner
    {
        background-image:  url( './images/down.svg' );
    }

    .search
    {
        padding:        0;
        border:         none;
        margin:         0;

        background:     transparent;

        font-size:      var( --typo-3 );
        line-height:    var( --line-height-m );
        letter-spacing: 0.4px;

        &:focus
        {
            outline:    none;
        }
    }
    .main > .search
    {
        position:       absolute;
        top:            0;

        box-sizing:     border-box;
        width:          100%;
        height:         100%;

        text-indent:    var( --spacing-2 );
    }
    .multiTagList > .search
    {
        flex:           1 0 0%;
        min-width:      5ch;
        text-indent:    var( --spacing-1 );
    }

    .multiTagList
    {
        display:            flex;
        flex-direction:     row;
        flex-wrap:          wrap;
        justify-content:    flex-start;
        align-items:        center;

        box-sizing:         border-box;

        width:              100%;
        min-height:         calc( var( --spacing-5 )  - ( 2 * var( --borderWidth ) ) );

        padding-top:        3px;
        padding-right:      calc( var( --spacing-1 ) + var( --iconSize ) + var( --spacing-1 ) );
        padding-left:       var( --spacing-1 );

        & > *
        {
            margin-right:   var( --spacing-1 );
            margin-bottom:  3px;

            &:last-child
            {
                margin-right:   0;
            }
        }
    }

    .multipleSelectTag
    {
        flex:           0 0 auto;
        display:        flex;
        flex-direction: row-reverse;
        align-items:    center;
        position:       relative;

        box-sizing:     border-box;
        max-width:      100%;
        height:         var( --tagHeight );

        padding-left:   var( --spacing-2 );
        padding-right:  var( --spacing-2 );

        background :    var( --PC-BLUE--L90 );
        color:          var( --PC-BLUE );

        @extend %Nessie-SemiBold;
        font-size:      var( --typo-3 );
        line-height:    var( --line-height-m );
        letter-spacing: 0.4px;

        white-space:    nowrap;
        overflow:       hidden;
        text-overflow:  ellipsis;
    }

    .multipleTagClose
    {
        display:        block;

        width:          var( --iconSize );
        height:         var( --iconSize );

        margin-left:    var( --spacing-1 );

        background:     url( './images/close.svg' ) no-repeat 100%;

        cursor:         pointer;

        &:hover
        {
            background-image:   url( './images/close--blue.svg' );
        }
    }

    .loading,
    .loadingFailed
    {
        display:                        flex;
        pointer-events:                 none;
        color:                          #777;
    }

    .loading::after
    {
        display:                        block;
        content:                        'Loading';
        animation:                      loading 1s infinite;
    }

    .loadingFailed::after
    {
        display:                        block;
        content:                        'Data load failed';
    }

    .section
    {
        /* nothing to do here */
    }

    .header
    {
        @extend %Nessie-RegularIt;

        font-size:      var( --typo-3 );
        line-height:    var( --line-height-m );
        color:          var( --PC-GREY--D25 );
    }

    .option.optionIcon__approved,
    .option.optionIcon__declined,
    .option.optionIcon__alert,
    .option.optionIcon__ended,
    .option.optionIcon__pending,
    .option.optionIcon__error,
    .optionIcon__include,
    .optionIcon__exclude,
    .optionIcon__includeExclude
    {
        padding-left:           calc( var( --spacing-2 ) + var( --iconSize ) + var( --spacing-2 ) );

        background-repeat:      no-repeat;
        background-position:    var( --spacing-2 ) center;
        background-size:        var( --iconSize );
    }

    .option.optionIcon__approved
    {
        background-image:   url("./images/stroke-colours/approved.svg");
    }
    .option.optionIcon__declined
    {
        background-image:   url("./images/stroke-colours/declined.svg");
    }
    .option.optionIcon__ended
    {
        background-image:   url("./images/stroke-colours/ended.svg");
    }
    .option.optionIcon__pending
    {
        background-image:   url("./images/stroke-colours/pending.svg");
    }
    .option.optionIcon__alert
    {
        background-image:   url("./images/fill/alert.svg");
    }
    .option.optionIcon__error
    {
        background-image:   url("./images/fill/error.svg");
    }
    .optionIcon__include
    {
        background-image:   url("./images/include.svg");

        .disabled&
        {
            background-image:   url("./images/include__disabled.svg");
        }
    }
    .optionIcon__exclude
    {
        background-image:   url("./images/exclude.svg");

        .disabled&
        {
            background-image:   url("./images/exclude__disabled.svg");
        }
    }
    .optionIcon__includeExclude
    {
        background-image:   url("./images/include--exclude.svg");

        .disabled&
        {
            background-image:   url("./images/include--exclude__disabled.svg");
        }
    }

    .optionIcon__blueDot
    {
        position:       relative;
        padding-left:   calc( var( --spacing-2 ) + 10px + var( --spacing-2 ) );

        &::before
        {
            content:        '';
            display:        block;
            position:       absolute;

            top:            50%;
            left:           var( --spacing-2 );

            transform:      translateY( -50% );

            width:          10px;
            height:         10px;

            border-radius:  10px;
            background:     var( --PC-BLUE );
        }
    }
}


.headerMode /* Flounder as header */
{
    min-width:  400px;

    .mainWrapper
    {
        position:   absolute;

        top:        0;
        left:       0;
        right:      0;
    }

    .main,
    .main:hover,
    &.fakeHovered .main,
    &.error .main,
    .main.disabled
    {
        border-color:   transparent !important; /* yes, always */
        background:     transparent !important; /* yes, always */
        box-shadow:     none !important; /* yes, always */
    }

    .main
    {
        display:            flex;
        justify-content:    flex-start;
        align-items:        center;
    }

    &:not( .error ) .main .selectedDisplayed
    {
        color:  var( --PC-BLUE );
    }

    .selectedDisplayed
    {
        height:         auto;
        padding-top:    0 !important; /* yes, always */
        padding-bottom: 0 !important; /* yes, always */
        padding-left:   0 !important; /* yes, always */
    }

    .arrow
    {
        position:   relative;
        top:        auto;
        right:      auto;
        transform:  none;
    }

    .arrowInner
    {
        background-image:   url( './images/down--blue.svg' );
    }
}


.headerLevel__1 /* H1 */
{
    .selectedDisplayed
    {
        padding-right:  calc( var( --spacing-4 ) + var( --spacing-2 ) );

        font-size:      var( --typo-7 );
        line-height:    var( --line-height-l );
        letter-spacing: 0.5px;
    }

    .arrow
    {
        left:   calc( -1 * var( --spacing-4 ) );
    }

    .arrowInner
    {
        width:  calc( var( --spacing-4 ) );
        height: calc( var( --spacing-4 ) );
    }
}

.headerLevel__2 /* H2 */
{
    .selectedDisplayed
    {
        padding-right:  calc( var( --spacing-3 ) + var( --spacing-2 ) );

        font-size:      var( --typo-6 );
        line-height:    var( --line-height-l );
        letter-spacing: 0.5px;
    }

    .arrow
    {
        left:   calc( -1 * var( --spacing-3 ) );
    }

    .arrowInner
    {
        width:  calc( var( --spacing-3 ) );
        height: calc( var( --spacing-3 ) );
    }
}

.headerLevel__3 /* H3 */
{
    .selectedDisplayed
    {
        padding-right:  calc( var( --spacing-2 ) + var( --spacing-2 ) );

        font-size:      var( --typo-4 );
        line-height:    var( --line-height-l );
        letter-spacing: 0.2px;
    }

    .arrow
    {
        left:   calc( -1 * var( --spacing-2 ) );
    }

    .arrowInner
    {
        width:  calc( var( --spacing-2 ) );
        height: calc( var( --spacing-2 ) );
    }
}

.headerLevel__4 /* H4 */
{
    .selectedDisplayed
    {
        padding-right:  calc( var( --spacing-2 ) + var( --spacing-2 ) );

        font-size:      var( --typo-3 );
        line-height:    var( --line-height-l );
        letter-spacing: 0;
    }

    .arrow
    {
        left:   calc( -1 * var( --spacing-2 ) );
    }

    .arrowInner
    {
        width:  calc( var( --spacing-2 ) );
        height: calc( var( --spacing-2 ) );
    }
}




.error
{
    .main,
    .main:hover,
    .main:focus,
    .mainWrapper.open .main,
    .mainWrapper.open .main:hover,
    .mainWrapper.open .main:focus
    {
        border-color:    var( --PC-RED );
        box-shadow:      0 0 0 1px var( --PC-RED );

        .selectedDisplayed
        {
            color:           var( --PC-RED );
        }
    }

    .main .arrowInner,
    .main:focus .arrowInner
    {
        background-image:  url( './images/down--red.svg' );
    }

    .mainWrapper.open .main .arrowInner,
    .mainWrapper.open .main:focus .arrowInner
    {
        background-image:  url( './images/up--red.svg' );
    }
}


.toggleIcon__magnifier
{
    .main:hover,
    .main:focus,
    .mainWrapper.open .main,
    &.fakeHovered .main,
    &.fakeHovered .mainWrapper.open .main
    {
        .arrowInner
        {
            background-image:   url( './images/light/search__hover.svg' );
        }
    }

    .main,
    .main.disabled
    {
        .arrowInner
        {
            background-image:   url( './images/light/search.svg' );
        }
    }
}

.toggleIcon__none
{
    .selectedDisplayed
    {
        padding-right:  var( --spacing-2 );
    }

    .multiTagList
    {
        padding-right:  5px;
    }
}


@keyframes loading
{
    0%
    {
        content:    'Loading.';
    }
    33%
    {
        content:    'Loading..';
    }
    66%
    {
        content:    'Loading...';
    }
}
