@import "../proto/base.css";
@import "../proto/definitions/_colors.css";
@import "../proto/definitions/_fonts.css";

.default
{
	position: 		relative;
	top: 			0.5rem;
	margin-top: 	-0.8rem;

    @extend %Nessie-Bold;

	min-height:	1.6rem
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
	color:	var( --PC-GREEN );
}

.role__critical
{
	color:	var( --PC-RED );
}

.spacing__S
{
    margin-bottom: var( --spacing-xs );
}

.spacing__M
{
    margin-bottom: var( --spacing-m );
}

.spacing__L
{
    margin-bottom: var( --spacing-xxl );
}
