@import "../proto/base.css";

.default
{
	position: 		relative;

	min-height:	    var( --line-height-l );

	@extend %Nessie-Bold;

	font-size:      var( --typo-3 );
	line-height:    var( --line-height-l );
	letter-spacing: 0;
}

.role__default
{

}

.role__subtle
{

}

.role__promoted
{
	color:	var( --PC-GREEN );
}

.role__critical
{
	color:	var( --PC-RED );
}

.spacing__S
{
    margin-bottom: var( --spacing-2 );
}

.spacing__M
{
    margin-bottom: var( --spacing-5 );
}

.spacing__L
{
    margin-bottom: var( --spacing-8 );
}
