@import "../proto/base.css";

.default
{
  width:              auto;
  min-height:         40px;
  padding:            calc( var(  --spacing-2 ) - 5px ) var( --spacing-2 );
  border:             none;
  display:            block;
  cursor:             pointer;
  font-size:          14px;
}

.inner
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.role__primary
{
    background-color:   var( --PC-WHITE );
    color:              var( --PC-GREY--D15 );
    border: 1px solid var( --PC-GREY--L70 );
    border-radius: 1px;

    .icon
    {
        fill: var(--PC-GREY--D15);
    }

    &:hover
    {
        background-color: var( --PC-GREY--L90 );
    }

    &:focus,
    &:active
    {
        outline: 0;
    }

    &.pressed
    {
        background-color: var( --PC-BLUE--L90 );
        color: var(--PC-BLUE);
        border-color: var(--PC-BLUE);
        outline: 0;

        .icon
        {
            fill: var(--PC-BLUE);
        }
    }

    &.disabled
    {
        .icon:hover
        {
            fill: var(--PC-GREY--D15);
        }
    }

}

.role__secondary
{
    color:   #41556f;
    opacity: .5;
    background-color: transparent;

    &.pressed
    {
        opacity: 1;
    }

    .icon
    {
        fill:   #41556f;
    }
}

.disabled
{
    opacity: .5;
    cursor: default;
}



.iconPosition__left
{
    .icon
    {
        margin-right: 4px;
    }
}

.iconPosition__right
{
    .icon
    {
        order: 2;
        margin-left: 4px;
    }
}
