@import "../proto/base.css";

.default
{
    display:        block;
    margin-bottom:  var( --spacing-1 );

    width:          auto;

    @extend %Nessie-Bold;

    text-transform: uppercase;

    white-space:    nowrap;

    &[for]
    {
        cursor: pointer;
    }

    legend& /* fix for buggy <legend> element */
    {
        float:  left;
        & + *
        {
            clear: left;
        }
    }
}

.label
{
    font-size:      var( --typo-2 );
    line-height:    var( --line-height-m );
    letter-spacing: 0.5px;
    color:          var( --PC-GREY--D15 );
}
