@import "../proto/base.css";
@import "../proto/definitions/_fonts.css";
@import "../proto/global.css";

.default
{
    display:        block;
    margin-bottom:  var( --spacing-1 );

    width:          auto;

    @extend %Nessie-Bold;

    white-space:    nowrap;

    &[for]
    {
        cursor: pointer;
    }

    legend& /* fix for buggy <legend> element */
    {
        float:  left;
        & + *
        {
            clear: left;
        }
    }
}
