@import "../proto/base.css";
@import "../proto/definitions/_colors.css";

.default
{
    /* this needs to be a flex column for vertical alignment
    * of header w/min-height (flexbugs #3) */
    display:        flex;
    flex-direction: column;

    background:     var( --PC-WHITE );

    box-shadow:     0 0.1rem 0.4rem 0 var( --GS-8 );
}

.collapsible
{
    & > .header
    {
        background: var( --GS-11 );
        cursor:     pointer;
    }
}

.collapsed
{
    & .header
    {
        background:         transparent;

        &:hover
        {
            background: var( --GS-11 );
        }
    }

    .content
    {
        display:    none;
    }

}

.moduleError
{
    border-left: 0.5rem solid var( --AC-1 );

    & > .header,
    & > .content
    {
        padding-left: 2.5rem
    }
}

.header
{
    transition:         background-color 200ms ease-in-out;

    position:           relative;

    display:            flex;
    flex-direction:     row;
    justify-content:    flex-start;
    align-items:        center;

    padding:            3rem;
}

.title
{
    flex:       0 0 100%;
    max-width:  100%;
}

.controls
{
    display:            flex;
    position:           absolute;

    height:             2.2rem;
    top:                calc( 50% - 1.1rem );

    right:              3rem;

    flex-direction:     row;
    align-items:        center;
    justify-content:    flex-end;

    & > *
    {
        flex:           0 0 auto;

        margin-right:   3rem;
        margin-bottom:  0;

        &:last-child
        {
            margin-right:   0;
        }
    }
}

.content
{
    position:   relative;

    margin:     0;
    padding:    3rem;
}

.loadingOverlay
{
    display:            flex;
    flex-direction:     row;
    justify-content:    center;
    align-items:        center;

    position:   absolute;
    z-index:    1;

    top:        0;
    bottom:     0;

    left:       0;
    right:      0;

    width:      100%;
    height:     100%;

    background-color:   color( var( --PC-WHITE ) a( 50% ) );
}
